.matrix-borders {
  --border-line: 1px solid #232323;

  .row:nth-last-child(1),
  .sideheader-row:nth-last-child(1) {
    border-bottom: var(--border-line);
  }

  .header-cell {
    border-top: var(--border-line);
  }

  .sideheader-cell {
    border-left: var(--border-line);
    box-sizing: border-box;
  }

  .sideheader-row {
    border-right: var(--border-line);
  }

  .cell,
  .sideheader-header-cell,
  .sideheader-cell,
  .header-cell,
  .responsive-cell {
    outline: var(--border-line);
  }
}
