.matrix {
  display: flex;
  height: 100%;
  width: 100%;

  &.cols-wrap {
    flex-wrap: wrap;
  }

  .row,
  .sideheader-row,
  .header-row {
    display: flex;
    width: fit-content;
  }

  .sideheader-row {
    position: relative;
  }

  .sideheader-cell,
  .sideheader-header-cell {
    position: sticky;
    left: 0;
  }

  .sideheader-header-cell {
    z-index: 100;
  }

  .header-row {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .responsive-cell,
  .sideheader-header-cell,
  .sideheader-cell,
  .header-cell,
  .cell {
    background: $white;
  }

  .responsive-cell,
  .sideheader-cell,
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cell:hover {
    background: #C5CBD3;
    cursor: pointer;
  }
}
