.matrix {
  --long-cell-size: 225px;
  --short-cell-size: 50px;

  .row,
  .sideheader-row {
    height: var(--short-cell-size);
  }

  .header-row {
    height: var(--long-cell-size);
  }

  .cell,
  .responsive-cell {
    min-width: var(--short-cell-size);
    max-width: var(--short-cell-size);
    min-height: var(--short-cell-size);
    max-height: var(--short-cell-size);
  }

  .sideheader-header-cell {
    min-width: var(--long-cell-size);
    max-width: var(--long-cell-size);
    min-height: var(--long-cell-size);
    max-height: var(--long-cell-size);
  }

  .sideheader-cell {
    min-width: var(--long-cell-size);
    max-width: var(--long-cell-size);
    min-height: var(--short-cell-size);
    max-height: var(--short-cell-size);
  }

  .header-cell {
    min-width: var(--short-cell-size);
    max-width: var(--short-cell-size);
    min-height: var(--long-cell-size);
    max-height: var(--long-cell-size);
  }
}