<div fxLayout="column" fxLayoutAlign="start start">
  <app-user-info
    [email]="currentUser.email"
    [firstName]="currentUser.first_name"
    [lastName]="currentUser.last_name"
    [name]="currentUser.name"
    [phone]="currentUser.phone"
    [projects]="currentUser.roles"
  ></app-user-info>

  <app-user-projects [rolesArray]="rolesArray"></app-user-projects>
</div>
