@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.dialogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  // @include pad-all(4, 4, 4, 4);
}

.title-video {
  font-weight: 900;
  font-size: 32px;
  margin: 0.5em 0 0.5em 0;

  position: relative;
}
.mat-dialog-content {
  .description {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.content {
  overflow: hidden;
  height: 90%;
}

.text-center {
  text-align: center;
}

.headerSection {
  @include push-top(14);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}
.closeButton {
  background-color: #ef4e4e;
  color: white;
  font-size: 1.1em;
  left: 40%;
}
.closeButton[disabled] {
  background-color: #d3d3d3;
}
