<div class="dialogBox">
  <div class="headerSection" mat-dialog-actions>
    <h1 class="title-video" mat-dialog-title>{{ data.title }}</h1>
    <button
      mat-fab
      [disabled]="!checkIfVideoIsPlayed()"
      class="closeButton"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="content">
    <p *ngIf="data.description" class="description text-center">
      {{ data.description }}
    </p>

    <iframe
      id="video-tutorial"
      title="video-tutorial-tools"
      width="550px"
      height="315px"
      src="https://www.youtube.com/embed/qipoziKznuU"
    ></iframe>
  </div>
</div>
