@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';
@import '../../../../styles/base/typography';

:host ::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: whitesmoke;
    border-radius: 5px;
  }

  .mat-form-field-label {
    color: rgb(216, 215, 210);
  }

  .menu {
    display: flex;
  }
}

.mat-button:hover {
  @include opacity(0.85);
  cursor: pointer;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: $toolbar-height;
}

.header {
  display: flex;
  justify-content: space-between;
  flex: 1 50px;
  background-color: rgb(27, 27, 27);
  @include pad-all(1, 0, 1, 0);
  position: fixed;
  z-index: 3;

  .logo {
    & > img {
      height: 30px;
      object-fit: scale-down;
    }
    & > img:first-child {
      @include push-all(0, 9, 0, 4);
    }
  }

  .logo:hover {
    @include opacity(0.85);
    cursor: pointer;
  }

  & > div:not(:first-child) {
    & > div {
      @extend .font-bold;
      @include push-right();
      color: $white;
      line-height: $font-xxxl;

      mat-icon {
        @extend .font-xxl;
      }
    }

    & > div:hover {
      @include opacity(0.5);
      cursor: pointer;
    }
  }

  .active-link {
    border-bottom: 2px solid $white;
  }

  .custom-search-bar {
    font-size: $font-m;
    bottom: 1px;
  }
}

.userphoto {
  @include pad-right(1);
}

.userButton {
  @include pad-all(0, 2, 0, 2);
  color: whitesmoke;
}

.user-profile {
  @include push-left(6);
  color: $white;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: $font-l;
}

.search-link {
  @include push-right(3);
  margin-left: auto;
  color: whitesmoke;
  font-size: $font-m;
}
