<mat-toolbar class="header" fxFlex="">
  <div class="logo" fxLayout="row" fxLayoutAlign="center " [routerLink]="['/home']">
    <img src="../../../../assets/img/header/Small.png" alt="decoder logo" />
    <img src="../../../../assets/img/header/Text-white.png" alt="decoder logo text" />
  </div>

  <div class="user-profile">
    {{ userProfile }}
  </div>

  <a class="search-link" routerLink="/admin"></a>

  <button mat-button class="userButton" [matMenuTriggerFor]="userMenu">
    <mat-icon class="userphoto">account_circle</mat-icon> {{ userName | lengthCheck }}
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu class="menu-under-header borderless-menu" #userMenu="matMenu">
    <button mat-menu-item [routerLink]="['/home/profile']">
      <mat-icon>settings</mat-icon>Profile
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>arrow_forward</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
