<h2>SRL results</h2>
<div *ngFor="let srlResult of docData">
  <div *ngIf=" srlResult.predicates.length > 0">
    <p>Original text: </p>
    <pre>
      <code>{{ srlResult.text }}</code>
    </pre>
    <div class="container" *ngFor="let singleResult of srlResult.predicates">
      <p>
        <span class="type verb">Verb</span>
        <span class="verb-container"> {{ singleResult.predicate.text }}</span>
      </p>
      <ul>
        <li *ngFor="let roleValue of convertIntoArray(singleResult.roles); let i = index">
          <span class="type arg">Argument</span>
          <p>{{roleValue.text}}</p>
          <p class="type key">{{roleValue.key}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf=" srlResult.predicates.length === 0">
    <p>Original text: </p>
    <pre>
      <code>{{ srlResult.text }}</code>
    </pre>
    <p>No predicates found for this section of text.</p>
  </div>
  <hr>
</div>
