:host {
  display: block;
  height: 100%;
  width: 95%;
}

.container {
  margin: 3rem;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-line;
}

code {
  font-weight: normal;
}

.verb-container {
  background-color: lightgreen;
  border: 2px solid green;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: auto;
  height: 60px;
  background-color: lightblue;
  border: 2px solid blue;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0;
}

.type {
  border-radius: 10%;
  padding: 0.2rem;
  margin: 0.2rem;
}

.verb {
  background-color: lightgreen;
  border: 2px solid green;
}

.arg {
  background-color: white;
  border: 1px dotted black;
}

.key {
  background-color: grey;
  border: 1px dotted black;
  color: white;
}
