@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.dashboard-background {
    background: url("/assets/img/Pattern-B.svg");
    background-size: cover;
}

.project-name {
    display: flex;
    justify-content: space-between;
    font-size: $font-xxl;
    @include push-top(10);
    @include push-bottom(10);
}