<div class="dashboard-background" fxFill fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="80">
    <div class="project-name">
      {{ urlParams.projectId | uppercase }} overview
      <button
        mat-button
        onclick="this.blur()"
        (click)="onOpenSitemap()"
      >
        <mat-icon>web_asset</mat-icon> Open sitemap diferences
      </button>
    </div>
    <ng-container *ngIf="urlParams">
      <app-version-comparison-matrix-view
        [projectId]="urlParams.projectId"
        fxFill
      >
      </app-version-comparison-matrix-view>
    </ng-container>
  </div>
  <div fxFlex="10"></div>
</div>
