@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

form {
  display: flex;
  align-items: center;

  mat-form-field {
    flex-grow: 1;
    @include push-right(24);
    @include push-left(2);
  }

  button {
    @include push-right(2);
  }
}

.selector {
  min-width: 8rem;
  max-width: 8rem;
  @include push-right(9);
}

button mat-icon {
  @include push-right(2);
}
