<form [formGroup]="uploadForm">
  <mat-select
    formControlName="source"
    placeholder="Source"
    class="selector"
    (selectionChange)="onSelectionChange($event.value)"
  >
    <mat-option>None</mat-option>
    <mat-option value="local">Local</mat-option>
  </mat-select>
  url:
  <mat-form-field appearance="outline" class="mat-form-field-m no-pad">
    <input matInput type="text" [disabled]="isInvalidSource()" />
  </mat-form-field>
  <button
    mat-raised-button
    class="button-accept"
    [class.disabled]="isInvalidSource()"
  >
    <mat-icon>cloud_upload</mat-icon>Import
  </button>
</form>
