@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

:host {
  height: 100%;
  display: grid;
  grid-template-columns: $app-sidebar-width 1fr 3fr;
  grid-template-rows: 1fr;
}

.background-pattern {
  background-image: url('/assets/img/Pattern-B.svg');
  background-size: cover;
  background-repeat: repeat no-repeat;
  background-position-y: 160px;
  position: relative;
  width: 72vw;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden;
}

app-base-sidebar {
  width: $app-sidebar-width;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
app-list-of-projects {
  overflow-y: auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.project-view {
  overflow-y: auto;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.project-view-container {
  .project-view {
    box-sizing: border-box;
    @include pad-horizontal(9);
  }
  height: 100%;
}
