<app-base-sidebar></app-base-sidebar>

<app-list-of-projects
  #listPane
  [superAdminRights]="superAdminRights"
  (editMode)="onEditMode($event)"
  (projectSelectedEvent)="onProjectSelected($event)"
  (projectDeletedEvent)="onProjectDeleted($event)"
  (projectListRefreshedEvent)="onProjectListRefreshed()"
></app-list-of-projects>

<div class="project-role">
  <div
    class="project-view-container full-width"
    fxLayout="column"
  >
    <div
      fxLayoutAlign="center center"
      class="background-pattern full-height"
      *ngIf="selectedItem == null"
    >
      <app-project-not-selected></app-project-not-selected>
    </div>
    <app-project-view
      *ngIf="selectedItem != null"
      class="project-view full-width"
      [editMode]="editMode"
      [projectId]="selectedItem"
      [currentRole]="currentRole"
      [superAdminRights]="superAdminRights"
      (nameChangedToEmit)="onProjectNameChanged($event)"
      (projectDeletedEvent)="onProjectDeleted($event)"
      (memberAditionEvent)="onProjectUpdated($event)"
      (memberCreationEvent)="onProjectUpdated($event)"
    ></app-project-view>
  </div>
</div>
