<h2>Comments of the selected file</h2>
<p>
  Sourcefile: <strong> {{ shorttenFileName }} </strong>
  <mat-icon [matTooltip]="toolTipText" matTooltipClass="tooltip">help</mat-icon>
</p>

<ul *ngFor="let item of formatedComments">
  <li>
    <h2>
      At lines {{ item.loc.pos_start.pos_lnum }} -
      {{ item.loc.pos_end.pos_lnum }}
    </h2>
    <h2 *ngIf="item.global_kind !== ''">
      Global kind: {{ item.global_kind }}
    </h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <pre>
      <div *ngFor="let comment of item.comments">
        <code>{{comment.starts}}</code><code class="commentStyle">{{comment.midles}}</code><code>{{comment.ends}}</code>
      </div>
  </pre>
  </li>
</ul>
