<div fxFill fxLayout="row">
  <app-guide-sidebar fxFlex="25"
    (selectedLinkToEmit)="onSelectLink($event)"
  ></app-guide-sidebar>
  <app-guide-content fxFlex="75" [selectedLinkId]="selectedLinkId"></app-guide-content>
</div>
