<div class="password-grid">
    <button mat-icon-button class="back-button" routerLink="../">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h3 class="title">
      <strong>Change Password</strong>
    </h3>
    <form [formGroup]="changeUserPasswordForm" class="password-form">
      <label>Current Password</label>
      <mat-form-field appearance="outline" class="mat-form-field-m form-error-space">
        <input
          matInput
          formControlName="currentPassword"
          pattern="(?=^.{8,}$)[a-zA-Z0-9]*[^a-zA-Z0-9]([^a-zA-Z0-9]|[a-zA-Z0-9])*"
          placeholder="Write your current password"
          type="password"
          matTooltip="The password must be longer than 8 characters and have at least one special character."
        />
      <mat-hint *ngIf="changeUserPasswordForm.controls.currentPassword.invalid && changeUserPasswordForm.controls.currentPassword.value != '' " class="error-hint">
        <mat-icon>error</mat-icon>
        the passwords does not comply with the minimum password strength policy.
      </mat-hint>
      </mat-form-field>

      <label>New password</label>
      <mat-form-field appearance="outline" class="mat-form-field-m form-error-space">
        <input
          matInput
          formControlName="newPassword"
          placeholder="Write your new password"
          pattern="(?=^.{8,}$)[a-zA-Z0-9]*[^a-zA-Z0-9]([^a-zA-Z0-9]|[a-zA-Z0-9])*"
          type="password"
          matTooltip="The password must be longer than 8 characters and have at least one special character."
        />
        <mat-hint  *ngIf="!passwordNotEqual()" class="error-hint">
            <mat-icon>error</mat-icon>
            The current password and new password must be different.
        </mat-hint><br/>
        <mat-hint *ngIf="changeUserPasswordForm.controls.newPassword.invalid && changeUserPasswordForm.controls.newPassword.value != '' " class="error-hint">
            <mat-icon>error</mat-icon>
            the passwords does not comply with the minimum password strength policy.
        </mat-hint>
      </mat-form-field>

      <label>Confirm new password</label>
      <mat-form-field appearance="outline" class="mat-form-field-m form-error-space">
        <input
          matInput
          formControlName="confirmNewPassword"
          placeholder="Confirm your new password"
          type="password"
          pattern="(?=^.{8,}$)[a-zA-Z0-9]*[^a-zA-Z0-9]([^a-zA-Z0-9]|[a-zA-Z0-9])*"
          matTooltip="The password must be longer than 8 characters and have at least one special character."
        />
        <mat-hint *ngIf="!passwordEqual()" class="error-hint">
            <mat-icon>error</mat-icon>
            The new password and confirm password must be equal.
        </mat-hint><br>
        <mat-hint *ngIf="changeUserPasswordForm.controls.confirmNewPassword.invalid && changeUserPasswordForm.controls.confirmNewPassword.value != '' " class="error-hint">
            <mat-icon>error</mat-icon>
            the passwords does not comply with the minimum password strength policy.
        </mat-hint>
      </mat-form-field>
      <div class="buttons">
        <a mat-raised-button class="cancel-button" routerLink="../">
          Cancel
        </a>
        <button
          mat-raised-button
          class="button-accept"
          type="submit"
          [class.disabled]="changeUserPasswordForm.invalid"
        >
        Reset Password
        </button>
      </div>
    </form>
  </div>
