@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';
:host {
  height: 88vh;
}

.password-grid {
  display: grid;
  min-width: 500px;
  grid-template-rows: auto 50px 1fr;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    'back-button title'
    '. .'
    '. password-form';

  .back-button {
    grid-area: back-button;
    place-self: center;
  }

  .title {
    grid-area: title;
    font-size: $font-lg;
  }

  .password-form {
    grid-area: password-form;
    display: flex;
    flex-direction: column;
  }
}

mat-hint {
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  @include pad-bottom(1);
  @include push-top(5);

  *:not(:first-child) {
    @include push-left(3);
  }

  *:not(:last-child) {
    @include push-right(3);
  }
}
.form-error-space{
  padding-bottom: 10px;
}
.info{
  float: right;
  color: gray;
}
