<div class="container">

  <div class="ejecution-class">
    <div class="sidebar" *ngIf="viewTools">
      <ul>
        <div class="available-tools">
          <div class="tools">
            <mat-selection-list
              #tools
              (selectionChange)="
                onGroupsChangeTools(tools.selectedOptions.selected)
              "
              [multiple]="false"
            >
              <mat-list-option
                *ngFor="let tool of availableToolsCollection"
                [value]="tool.toolName"
                [title]="tool.toolName"
              >
                {{ tool.toolName }}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
      </ul>
    </div>
    <div
      class="tool-section"
      [ngClass]="{ expand: showSidebar === false }"
      *ngIf="!viewTools && selectedTool" [ngSwitch]="selectedTool.toolID"
    >
      <button class="goback-button" mat-button [class.disabled]="false" (click)="goBackNavigation()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        DECODER Tools
      </button>
      <div *ngSwitchDefault>
        <p>Please select one of the available tools!</p>
      </div>
      <!-- javaparser tool section -->
      <app-javaparser
        *ngSwitchCase="'javaParser'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-javaparser>
      <app-javaparser
        *ngSwitchCase="'javaParserProject'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-javaparser>
      <!-- openjml tool section -->
      <app-openjml
        *ngSwitchCase="'openJML'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-openjml>
      <!-- jmlgen tool section -->
      <app-jmlgen
        *ngSwitchCase="'jmlgen'"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-jmlgen>
      <!-- testar tool section -->
      <app-testar
        *ngSwitchCase="'testar'"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-testar>
      <!-- framac tool section -->
      <app-framac-dashboard
        *ngSwitchCase="'frama-c'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-framac-dashboard>
      <!-- framac tool section -->
      <app-framaclang
        *ngSwitchCase="'frama-clang'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-framaclang>
      <!-- codesumarization tool section -->
      <app-codesumarization
        *ngSwitchCase="'code-sumarization-file'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-codesumarization>
      <app-codesumarization
        *ngSwitchCase="'code-sumarization-project'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-codesumarization>
      <!-- ner tool section -->
      <app-ner
        *ngSwitchCase="'ner'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-ner>
      <!-- srl tool section -->
      <app-srl
        *ngSwitchCase="'srl'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-srl>
      <!-- tracerecovery tool section -->
      <app-tracerecovery
        *ngSwitchCase="'traceRecovery'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-tracerecovery>
      <!-- semanticparser tool section -->
      <app-semanticparser
        *ngSwitchCase="'semParser'"
        [selectableArtifacts]="searchableArtifacts"
        [projectName]="projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-semanticparser>
      <!-- variable-misuse-project tool section -->
      <app-variablemisuse
      *ngSwitchCase = "'variable-misuse-project'"
      [selectableArtifacts] = "searchableArtifacts"
      [projectName] = "projectName"
      [selectedTool] = "selectedTool"
      (resetEvent)="goBackNavigation()"
      ></app-variablemisuse>
      <!-- variable-misuse-file tool section -->
      <app-variablemisuse
      *ngSwitchCase = "'variable-misuse-file'"
      [selectableArtifacts] = "searchableArtifacts"
      [projectName] = "projectName"
      [selectedTool] = "selectedTool"
      (resetEvent)="goBackNavigation()"
      ></app-variablemisuse>
      <!-- classmodelxmi2jsontransformer tool section -->
      <app-class-model-transformer
        *ngSwitchCase = "'classmodelxmi2jsontransformer'"
        [selectableArtifacts] = "searchableArtifacts"
        [projectName] = "projectName"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
        ></app-class-model-transformer>
      <!-- default tool section -->
      <!-- codeToAsfm tool section -->
      <app-code-to-asfm
        *ngSwitchCase="'code_to_asfm'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-code-to-asfm>
      <!-- docToASFM tool section -->
      <app-doc-to-asfm
        *ngSwitchCase="'doc_to_asfm'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-doc-to-asfm>
      <!-- excavator tool section -->
      <app-excavator
        *ngSwitchCase="'excavator'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-excavator>
      <!-- ASFMTodoc tool section -->
      <app-asfm-to-doc
        *ngSwitchCase="'asfm_to_doc'"
        [projectName]="projectName"
        [selectableArtifacts]="searchableArtifacts"
        [selectedTool] = "selectedTool"
        (resetEvent)="goBackNavigation()"
      ></app-asfm-to-doc>
    </div>
  </div>
</div>
