@import '../../../../../styles/abstracts/variables';

:host {
  width: 100%;
}

.container {
  margin: 20px auto;
  margin-left: 20px;
  width: 100%;
}

.ejecution-class {
  display: flex;
  left: 1em;
  width: 100%;
}
ul {
  margin-block-start: 0;
  padding-inline-start: 5px;
}

.hide {
  display: none;
  transition: opacity 3s ease-out;
  opacity: 0;
}
.expand {
  margin-left: 20px;
  margin-right: 20px;
  grid-column: 2 / 4;
}

.button-container {
  margin-left: 20px;
}

.tools {
  width: max-content;
  max-width: 360px;
}

.mat-list-base {
  padding-top: 0px !important;
}

.tool-section {
  margin-right: 10%;
  width: 100%;
  position: relative;
  left: 1em;
}

.goback-button {
  font-weight: bold;
}
