@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

form.new-project-form {
  display: flex;
  align-items: center;
  @include push-top(10);

  .button-delete {
    @include push-bottom(6);
    margin-left: auto;
  }
}

mat-form-field {
  width: 300px;
}
