<form class="new-project-form">
  <mat-form-field class="mat-form-field-xxl" appearance="none">
    <mat-label *ngIf="roleIsOwnerOrAdmin()">Owner</mat-label>
    <input
      matInput
      placeholder="Project name"
      [value]="displayedProjectPKM?.name"
      [readonly]="true"
    />

  </mat-form-field>
  <button
    type="button"
    mat-button
    class="button-delete"
    (click)="onDelete()"
    onclick="this.blur()"
    *ngIf="roleIsOwnerOrAdmin()"
  >
    Delete project
  </button>
</form>
<mat-tab-group class="mat-tab-group-no-underline" #tabGroup>
  <mat-tab label="PROJECT VERSIONS">
    <ng-container *ngIf="displayedProjectPKM">
      <app-project-versions
        [project]="displayedProjectPKM"
        (navigateImportSource)="redirectImportSourceTab()"
      ></app-project-versions>
    </ng-container>
  </mat-tab>
  <mat-tab label="TEAM MEMBERS">
    <ng-container *ngIf="displayedProjectPKM">
      <app-team-members
        [superAdminRights]="superAdminRights"
        [currentUserId]="currentUserId"
        [projecName]="displayedProjectPKM?.name"
        [dataSource]="displayedProjectPKM.members"
        (memberAdition)="onMemberAdition($event)"
        (memberCreation)="onMemberCreation($event)"
      >
      </app-team-members>
    </ng-container>
  </mat-tab>
  <mat-tab label="GIT MANAGER">
    <ng-container *ngIf="displayedProjectPKM">
      <app-git-clone
        [projectName]="displayedProjectPKM?.name">
      </app-git-clone>
    </ng-container>
  </mat-tab>
  <mat-tab label="REVIEWS">
    <ng-container *ngIf="displayedProjectPKM">
      <app-reviewer-home
      [projectName]="displayedProjectPKM?.name"
      [projectId]="displayedProjectPKM?.name"
      class="project-view full-width"
      (selectedReviewEvent)="onReviewSelected()"
      [selectReview]="selectedReview"
      [currentRole] = "currentRole"
    ></app-reviewer-home>
    </ng-container>
  </mat-tab>

</mat-tab-group>
