<div class="mode-selector">
    <h4>Mode</h4>
    <p>Please select the execution mode for Java Parser tool</p>
    <mat-selection-list
      [multiple]="false"
      #paramOption
      (selectionChange)="
      onExecutionModeSelection(paramOption.selectedOptions.selected)
      "
    >
      <mat-list-option
        *ngFor="let param of paramsOptions"
        [value]="param"
      >
        {{ param }}
      </mat-list-option>
    </mat-selection-list>
  </div>