<h3 class="title">
  <strong>User creation</strong>
</h3>
<p>In this section the administrator can easily create users in the current project.</p>
<p>Text fields marked with an (<span class="required">*</span>) are required.</p>
<div class="user-grid">
  <form [formGroup]="userCreationForm" (ngSubmit)="sendUserCreationRequest()" class="user-form">

    <label>First name</label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="firstName" placeholder="I.e: John" type="text" />
    </mat-form-field>

    <label>Last name</label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="lastName" placeholder="I.e: Smith" type="text" />
    </mat-form-field>

    <label>Email</label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="email" placeholder="I.e: jsmith@gmail.com" type="email" />
    </mat-form-field>

    <label>Phone</label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="username" placeholder="I.e: John Smith" type="number" />
    </mat-form-field>

    <label>Username <span class="required">*</span></label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="username" placeholder="I.e: John Smith" type="text" />
    </mat-form-field>

    <label>Password <span class="required">*</span></label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="password" type="password" placeholder="************" />
    </mat-form-field>

    <label>Confirm password <span class="required">*</span></label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input matInput formControlName="passwordConfirmation" type="password" placeholder="************" />
      <mat-hint *ngIf="hasDifferentPassWord()" class="mat-hint-m error-hint">
        <mat-icon>error</mat-icon>
        The passwords you entered are not the same
      </mat-hint>
    </mat-form-field>


    <div class="buttons">
      <button mat-raised-button class="button-accept" type="submit" [class.disabled]="hasDifferentPassWord()">
        Save
      </button>
    </div>
  </form>
</div>
