@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.user-grid {
  display: grid;
  min-width: 90%;
  margin-bottom: 1rem;
  grid-template-rows: 1fr;
  grid-template-areas:
    '. user-form .';

  .user-form {
    grid-area: user-form;
    display: flex;
    flex-direction: column;
  }
}

mat-hint {
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  @include pad-bottom(1);
  @include push-top(5);

  *:not(:first-child) {
    @include push-left(3);
  }

  *:not(:last-child) {
    @include push-right(3);
  }
}

.required {
  color: $error;
}
