@import './../../../../../../../styles/abstracts/variables';

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.artifacts-list{
    height: auto;
    max-height: 200px;
    min-height: 60px;
    overflow-y: scroll;
}

.custom-background-color {
    background: $theme-secondary-dark;
}

.custom-layout {
    align-self: end;
    margin-bottom: 1rem;
    margin-right: 1rem;
}