<div class="container">
    <h4>Artifact selector</h4>
    <button mat-button (click)="toggleAllSelection()"*ngIf="!allSelected && allowMultiple" class="button-delete custom-background-color custom-layout">
        <span>Select All</span>
    </button>
    <button mat-button (click)="toggleAllSelection()"*ngIf="allSelected && allowMultiple" class="button-delete custom-layout">
        <span>Deselect All</span>
    </button>
    <mat-selection-list [multiple]="allowMultiple" #artifacts (selectionChange)="
        onArtifactSelection(artifacts.selectedOptions.selected)
      " class="artifacts-list">
        <mat-list-option *ngFor="let artifact of selectableArtifactsId" [value]="artifact" >
            {{ type }} - {{ artifact }}
        </mat-list-option>
        <div *ngIf="selectableArtifactsId.length === 0">
            <h3>
                There are no artifacts available in order to make request
            </h3>
        </div>
    </mat-selection-list>
</div>