@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

:host {
  display: block;
}

.uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-xxl;
  box-sizing: border-box;
  border: 3px dashed $theme-secondary-dark;
  border-radius: 4px;
  @include pad-vertical(16);
  @include push-bottom(16);

  mat-icon {
    @include grow-icon(3);
    color: $light-gray;
  }

  .description {
    @include push-left(4);
    @include push-right(2);
  }

  button {
    font-size: $font-l;
  }
}
