<div class="uploader" appDragDrop (fileDrop)="onFileUpload($event)">
  <input
    hidden
    multiple
    type="file"
    #fileInput
    (change)="onFileUpload($event.target.files)"
  />
  <mat-icon>cloud_upload</mat-icon>
  <span class="description">Drop files to upload, or</span>
  <button mat-raised-button class="button-accept" (click)="uploadFromInput()">
    BROWSE
  </button>
</div>
