<h2>Traceability matrix filling</h2>
<p>{{this.selectedTool.description}}</p>

<app-artifact-comments-selector #commentsSelector
  [toolIsNER]="false"
  [availableCommentsAndAnnotations]="selectableArtifacts"
  [source]="true"
  [target]="true"
  (executeTool)="executeTool()"
  [invocationResult]="traceRecoveryInvocationResult"
  [loading]="loading"
  (resetEvent)="onResetEvent()"
>
</app-artifact-comments-selector>
