@import '../../../../../../styles/abstracts/mixins';
@import '../../../../../../styles/abstracts/variables';

.upload-source-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include push-vertical(5);
  font-size: $font-xl;

  mat-icon {
    @include pad-right(5);
    width: $font-xl;
    height: $font-xl;
    font-size: $font-xl;
  }
}

.upload-container {
  @include push-vertical(10);
  @include push-horizontal(20);
}
