@import '../../../../styles/abstracts/variables';

.login-background {
    background: url('/assets/img/login/Background.svg') no-repeat center center fixed;
    background-size: cover;

    height: $app-height;
    width: $app-width;
}
