<mat-horizontal-stepper linear #stepper class="custom-steps">

  <!-- custom step states -->
  <ng-template matStepperIcon="edit" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>

  <ng-template matStepperIcon="all-done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="null" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>
  <!-- custom step states -->

  <mat-step
    label="Artifact selection source"
    *ngIf="source"
    completed="false"
    state='null'
  >
    <ng-template matStepLabel>Artifact selection source</ng-template>
    <h3 class="custom-title">Artifact selection Source</h3>
    <div [ngClass]="calculateStyle()">
      <mat-selection-list
        #srcParentList
        [multiple]="false"
        (selectionChange)="onChangeSrc(srcParentList)"
        class="list1"
      >
        <ng-container *ngFor="let menu of availableCommentsAndAnnotations">
          <mat-list-option
            [value]="menu"
            #srcSelectedOpt
            [ngClass]="{ active: srcSelectedOpt.selected }"
          >
            {{ menu.type }} - {{ menu.name }}
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
      <ng-container *ngIf="availableCommentsAndAnnotations.length === 0">
        <p>The are no comments or annotations for the selected project</p>
      </ng-container>
      <button
        mat-flat-button
        class="header-button button-accept"
        (click)="nextStep(stepper)"
        [disabled]="!srcSelected.length"
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step
    label="Comments/Annotations subselection"
    *ngIf="source"
    completed="false"
    state='null'
  >
    <h4 class="custom-title">
      Subselection of Comments/Annotations ({{
        srcSelected && srcSelected.length ? srcSelected.length : '0'
      }})
    </h4>
    <mat-selection-list
      #srcSub
      [multiple]="false"
      (selectionChange)="onSubChangeSrc(srcSub)"
      class="list2"
    >
      <ng-container *ngIf="srcSelected && srcSelected.length">
        <mat-list-option
          *ngFor="let submenu of srcSelected; let i = index"
          [value]="[submenu, i]"
          #srcSelectedSubOpt
          [ngClass]="{ active: srcSelectedSubOpt.selected }"
        >
          <ng-container *ngIf="selectedCommentAnnotation.type === 'Comment'">
            {{ i }} - {{ submenu.comments[0] }}
          </ng-container>
          <ng-container
            *ngIf="selectedCommentAnnotation.type === 'Annotation'"
          >
            {{ i }} - {{ submenu.annotations[0] }}
          </ng-container>
        </mat-list-option>
      </ng-container>
      <ng-container *ngIf="srcSelected && srcSelected.length === 0">
        <p>The file selected has no comments or annotations related.</p>
      </ng-container>
    </mat-selection-list>
    <button
      mat-flat-button
      class="header-button button-accept"
      (click)="nextStep(stepper)"
      [disabled]="!srcSubselected.length"
    >
      {{target? 'Next' : (toolIsNER? 'Next' : 'Execute tool')}}
    </button>
  </mat-step>
  <mat-step
    label="Artifact selection target"
    *ngIf="target"
    completed="false"
    state='null'
  >
    <h3 class="custom-title">Artifact selection Target</h3>
    <div class="artifact-list">
      <mat-selection-list
        #targetParentList
        [multiple]="false"
        (selectionChange)="onChangeTarget(targetParentList)"
      >
        <ng-container *ngFor="let menu of availableCommentsAndAnnotations">
          <mat-list-option
            [value]="menu"
            #targetSelectedOpt
            [ngClass]="{ active: targetSelectedOpt.selected }"
          >
            {{ menu.type }} - {{ menu.name }}
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
      <ng-container *ngIf="availableCommentsAndAnnotations.length === 0">
        <p>The are no comments or annotations for the selected project</p>
      </ng-container>
    </div>
    <button
      mat-flat-button
      class="header-button button-accept"
      (click)="nextStep(stepper)"
      [disabled]="!targetSelected.length"
    >
      Next
    </button>
  </mat-step>
  <mat-step label="Comments/Annotations subselection"
    *ngIf="target"
    completed="false"
    state='null'>
      <h4 class="custom-title">
        Subselection of Comments/Annotations ({{
          targetSelected && targetSelected.length ? targetSelected.length : '0'
        }})
      </h4>
      <mat-selection-list
        #targetSub
        [multiple]="false"
        (selectionChange)="onSubChangeTarget(targetSub)"
        class="list2"
      >
        <ng-container *ngIf="targetSelected && targetSelected.length">
          <mat-list-option
            *ngFor="let submenu of targetSelected; let i = index"
            [value]="[submenu, i]"
            #targetSelectedSubOpt
            [ngClass]="{ active: targetSelectedSubOpt.selected }"
          >
            <ng-container
              *ngIf="targetSelectedCommentAnnotation.type === 'Comment'"
            >
              {{ i }} - {{ submenu.comments[0] }}
            </ng-container>
            <ng-container
              *ngIf="targetSelectedCommentAnnotation.type === 'Annotation'"
            >
              {{ i }} - {{ submenu.annotations[0] }}
            </ng-container>
          </mat-list-option>
        </ng-container>
        <ng-container *ngIf="targetSelected && targetSelected.length === 0">
          <p>The file seleted has no comments or annotations related.</p>
        </ng-container>
      </mat-selection-list>
    <button
      mat-flat-button
      class="header-button button-accept"
      (click)="nextStep(stepper)"
      [disabled]="!targetSubselected.length"
    >
      {{toolIsNER? 'Next' : 'Execute tool'}}
    </button>
  </mat-step>
  <mat-step
    label="Select modal (optional)"
    *ngIf="toolIsNER"
    completed="false"
    state='null'
  >
    <ng-template matStepLabel>Model selection</ng-template>
    <h3 class="custom-title">Model Selection (optional)</h3>
    <div [ngClass]="calculateStyle()">
      <mat-selection-list
        #modelSelector
        [multiple]="false"
        (selectionChange)="onChangeModel(modelSelector)"
        class="list1"
      >
        <ng-container *ngFor="let model of models">
          <mat-list-option
            [value]="model"
            #modelSelectedOpt
            [ngClass]="{ active: modelSelectedOpt.selected }"
          >
            {{ model }}
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
      <button
        mat-flat-button
        class="header-button button-accept"
        (click)="nextStep(stepper)"
      >
      Execute tool
      </button>
    </div>
  </mat-step>
  <mat-step label="Results tools execution" completed="false" state='null'>
    <ng-template matStepLabel>Results tools execution</ng-template>
    <app-request-result-renderer
      [requestResponse]="invocationResult"
      [loading]="loading"
    >
    </app-request-result-renderer>
    <div>
      <button mat-button class="button-accept" (click)="reset(stepper)">
        Back to tool selection
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
