
.list1 {
  height: auto;
  max-height: 200px;
  min-height: 60px;
  overflow-y: scroll;

  .active ul{
    display:block !important;
  }

  .inactive {
    color: black;
  }
}

.list2.mat-selection-list {
  margin-left: 20px;
  margin-right: 0.2rem;

  height: auto;
  max-height: 200px;
  min-height: 60px;
  overflow-y: scroll;
  .mat-list-item {
    text-align: left;
  }

  .active{
    background-color:  #eee9e8;
    color: rgba(0, 0, 0, 0.87);
  }
  .active ul{
    display:block !important;
  }

  .inactive {
    color: black;
  }
}

.custom-title {
  margin: 1.5rem auto;
  padding: 1.5rem auto
}

.artifact-list {
  height: 20vh;
  width: 100%;
  overflow-y: scroll;
}

button {
  margin-top: 2%;
}
