@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

:host {
  display: flex;
  align-items: center;

  .tooltip {
    display: flex;
    align-items: center;
    min-width: fit-content;
    color: $light-blue;
    @include pad-horizontal(4);

    mat-icon {
      @include push-right(3);
    }
  }
}
