<div class="profile-title">
  <label>Profiles</label>
  <span *ngIf="!((roles$ | async)?.length > 0)" class="loading">
    <mat-spinner diameter="15"></mat-spinner>
  </span>
</div>
<mat-form-field style="width: 100%;" floatLabel="always" appearance="outline" class="mat-form-field-m no-pad">
  <mat-select class="selector" (selectionChange)="onRoleSelect($event.value)" required>
    <mat-option *ngFor="let role of roles$ | async" [value]="role.role">
      {{ role.role }}
    </mat-option>
  </mat-select>
</mat-form-field>
