@import '../../../../styles/abstracts/mixins';

.project-view-container {
  .project-view {
    box-sizing: border-box;
    @include pad-horizontal(9);
  }
}

.save-button{
  margin: 10px;
  margin-top: 15px;
  float: right;
  color: $white;
  background: $theme-secondary-dark;
}
