<div class="project-view-container full-width" fxLayout="column">
  <app-project-info-header
    [projectName]="projectName"
    [selected]="selectedReview"
    (backEvent)="goBackSummary()"
    [selectReview]="selectReview"
  ></app-project-info-header>
  <div *ngIf="addReview">
    <form [formGroup]="newReview">
      <mat-label>Review title:</mat-label>
      <mat-form-field style="width: 20%; margin: 10px;" floatLabel="always" appearance="outline" class="mat-form-field-m no-pad">
        <input matInput formControlName="title" >
      </mat-form-field>
    <button mat-raised-button class="save-button" *ngIf="newReview.get('title').value != ''" (click)="Save()">Save</button>
    </form>
  </div>
  <div *ngIf="!selectedReview || !selectReview; else selectedReviewo">
    <app-review-summary
      #reviewSummary
      [dataSource]="dataSource"
      [projectId]="projectId"
      [currentRole] = "currentRole"
      (reviewRequestSelectedEvent)="onReviewRequestSelected($event)"
      (addReviewEvent)="addReviewEvent($event)"
      (deleteReviewEventEmitter)="deleteReviewEvent($event)"
      ></app-review-summary>
  </div>
  <ng-template #selectedReviewo>
    <app-review-overview
      [selectedReviewRequest]="selectedReviewRequest"
      [projectId]="projectId"
      [currentRole] = "currentRole"
      [addReview] = "addReview"
    ></app-review-overview>
  </ng-template>
</div>
