@import '../../../../../styles/abstracts/mixins';

.table {
  box-sizing: border-box;
  padding-left: 70px;
  overflow: auto;
  width: 100%;
  caption {
    display: none;
  }

  td.col-fit-content,
  th.col-fit-content {
    width: 1%;
    @include pad-right(0);
  }
  @include push-bottom(20);

  th {
    align-items: center;
    justify-content: center;
  }
}
.mat-table {
  background-color: alpha($color: #C2C1C1);
  @include push-bottom(20);
  overflow: auto;
  padding: 0px 53px 0px;
  margin-bottom: 0px;
}
:host {
  width: 100%;
}
.projects-container {
  max-height: 360px !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 2000%;
  border: 2px;
  border-radius: 20px 20px;
  margin-bottom: 40px;
}

.projects-container::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 6px 6px;
  background-color: #F5F5F5;
  height: 20%;
}

.projects-container::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.projects-container::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: #555;
}
