<div class="icon-title-content-layout full-width">
  <mat-icon class="icon">toc</mat-icon>
  <h2 class="title space-before-content">My projects</h2>
  <div class="projects-container">
    <table mat-table [dataSource]="rolesArray" class="mat-table-m table" aria-label="projects from a user">
      <ng-container matColumnDef="project">
        <th mat-header-cell  *matHeaderCellDef class="content-sticky" id="project-name">
          <h2>Project name</h2>
        </th>
        <td mat-cell class="column1Cell" *matCellDef="let project">
          <a routerLink="home/projects-list" class="dec-link">
            {{ project.db }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell class="column2Header" scope="col" *matHeaderCellDef id="role">
          <h2>Role</h2>
        </th>
        <td mat-cell class="column2Cell" *matCellDef="let project">
          {{ project.role }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

</div>
