<div class="container">
  <mat-label>Filter type:</mat-label>
  <mat-select class="selector border" (selectionChange)="changeOptionFilter($event)">
    <mat-option *ngFor="let filter of filters" [value]="filter.value || 'Tool'">
      {{ filter.option }}
    </mat-option>
  </mat-select>
  <mat-label>Filter term:</mat-label>
  <form [formGroup]="filterForm" class="filter-form container-right">
    <input
      matInput
      formControlName="filter"
      placeholder="Enter the term you want to filter by"
      type="text" class='border'
    />
  </form>
  <button *ngIf="filterForm.get('filter').value !== '' && optionFilter != ''" mat-raised-button type="submit" (click)="filterButton()" class="filter-button">
    Filter
  </button>

  <button *ngIf="withFilter" mat-raised-button type="submit" (click)="showAllTools()" class="clear-all-filter">
      <mat-icon>delete</mat-icon>
  </button>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-table-m table" *ngIf="dataSource.filteredData.length > 0" aria-label="process engine invocations results">
    <!-- Tool Column -->
    <ng-container matColumnDef="Tool">
      <th mat-header-cell *matHeaderCellDef id="tool">Tool</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="blue-tittle">
          {{ element.tool }}
        </button>
      </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef id="user">User</th>
      <td mat-cell *matCellDef="let element">{{ element.user }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef id="status">Status</th>
      <td mat-cell *matCellDef="let element">{{ element.invocationStatus }}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef id="ID">ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.invocationID }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detailed">
      <th mat-header-cell *matHeaderCellDef scope="col">
        <button
          mat-button
          class="update-button"
          matTooltip="Refresh invocations"
          matTooltipPosition="above"
          (click)="udpateInvocations()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center icon-cell">
        <div class="checkbox-cell">
          <button mat-button (click)="openResultDialog(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef id="delete-icon"></th>
      <td mat-cell *matCellDef="let element" class="text-center icon-cell">
          <button  mat-button (click)="deleteInvocation(element)">
            <mat-icon>delete</mat-icon>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div *ngIf="dataSource.filteredData.length <= 0 && !invocationsAreLoaded">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="pagination-container">
  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons>
  </mat-paginator>
</div>

<div *ngIf="dataSource.filteredData.length <= 0 && invocationsAreLoaded" class="no-results">
  <mat-icon class="timelapse-icon">timelapse</mat-icon>
  <h2>There are no results available at the moment, try again later</h2>
</div>
