@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/variables';

.table {
  box-sizing: border-box;
  padding-left: 70px;
  overflow: auto;
  height: 100%;
  width: 80%;
  caption {
    display: none;
  }

  td.col-fit-content,
  th.col-fit-content {
    width: 1%;
    @include pad-right(0);
  }
  @include push-bottom(20);

  th {
    align-items: center;
    justify-content: center;
  }
}
.checkbox input:checked {
  background-color: $theme-secondary-dark;
}

.checkbox-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.update-button {
  position: relative;
  left: 25%;
  background-color: $theme-secondary-dark;
  color: $white;
}

.no-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timelapse-icon{
  align-self: center;
}

.table-container {
  max-height: 725px !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.mat-table-m {
  max-height: 300px;
  overflow: auto;
  width: 90%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:$theme-primary-dark;
}

@media (max-height: 800px) {
  .table-container {
    max-height: 400px !important;
  }
}

.selector {
  width: 10%;
  margin: 15px;
}

.filter-button {
  width: 5%;
  font-size: $font-l;
  color: $white;
  background: $theme-secondary-dark;
  align-self: center;
}

.clear-all-filter {
  margin-left: 10px;
  width: 5%;
  color: $white;
  background-color: #ef4e4e;
  align-self: center;
}

.filter-form {
  width: 20%;
  margin: 10px;
}

.border {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444444;
}

.container {
  display: flex;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
  padding: 0.5rem auto;

  &-left {
    display: flex;
  }

  &-right {
    display: flex;
  }
}

.item-counter {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 45%;
  top: 45%;
  transform: scale(1.7);
}
