.borderless-menu > .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.custom-warning .mat-badge-content {
    top: -5px !important;
    right: 5px !important;
    width: 10px !important;
    height: 10px !important;
}

.boarderless-mat-menu.mat-menu-panel {
    min-height: 48px !important;
  }
.boarderless-mat-menu .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

