:host {
  display: block;
  height: 100%;
  width: 95%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 16px;
  margin-top: 3%;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-line;
}

code {
  font-weight: normal;
}

.dot {
  height: 25px;
  width: 25px;
  margin-right: 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.type-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1% 0;
}

.hint {
  margin-top: 4px;
  font-size: small;
  font-weight: bold;
}

.empty-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    font-weight: bold;
  }
}

// Entity types tags styles
.argument {
  background: #BEDB39;
  border: 1px #A8C545 dotted;
  cursor: pointer;
}

.attackgoal {
  background: #BDD684;
  border: 1px #95AB63 dotted;
  cursor: pointer;
}

.attackmean {
  background: #b240b0;
  border: 1px #770d64 dotted;
  cursor: pointer;
}

.attacker {
  background: #5387db;
  border: 1px #1d277c dotted;
  cursor: pointer;
}

.boolean {
  background: #51ba32;
  border: 1px #334f2b dotted;
  cursor: pointer;
}

.cve {
  background: #5b6344;
  border: 1px #0e2114 dotted;
  cursor: pointer;
}

.classname {
  background: #967019;
  border: 1px #493425 dotted;
  cursor: pointer;
}

.command {
  background: #9d8ead;
  border: 1px #9063aa dotted;
  cursor: pointer;
}

.computerscienceconcept {
  background: #ed853b;
  border: 1px #493425 dotted;
  cursor: pointer;
}

.copyright {
  background: #ef1c35;
  border: 1px #960c2c dotted;
  cursor: pointer;
}

.datastructure {
  background: #4bd1c8;
  border: 1px #083659 dotted;
  cursor: pointer;
}

.date {
  background: #f9c390;
  border: 1px #332401 dotted;
  cursor: pointer;
}

.errorstring {
  background: #76e09d;
  border: 1px #4a9b62 dotted;
  cursor: pointer;
}

.fileformat {
  background: #b75fa1;
  border: 1px #bf4e99 dotted;
  cursor: pointer;
}

.filename {
  background: #898273;
  border: 1px #5b4428 dotted;
  cursor: pointer;
}

.functionname {
  background: #756c0e;
  border: 1px #272d09 dotted;
  cursor: pointer;
}

.hardware {
  background: #a8713e;
  border: 1px #e25604 dotted;
  cursor: pointer;
}

.identifier {
  background: #318c8c;
  border: 1px #140e5e dotted;
  cursor: pointer;
}

.issuemention {
  background: #af3ba2;
  border: 1px #bf035e dotted;
  cursor: pointer;
}

.issuestatus {
  background: #d8778c;
  border: 1px #893531 dotted;
  cursor: pointer;
}

.legal {
  background: #767757;
  border: 1px #3f2b13 dotted;
  cursor: pointer;
}

.library {
  background: #f707cf;
  border: 1px #58037a dotted;
  cursor: pointer;
}

.license {
  background: #e2e544;
  border: 1px #42382c dotted;
  cursor: pointer;
}

.location {
  background: #c7d6ad;
  border: 1px #4f1b15 dotted;
  cursor: pointer;
}

.membername {
  background: #595644;
  border: 1px #42382c dotted;
  cursor: pointer;
}

.modifier {
  background: #81b5c4;
  border: 1px #4e5e68 dotted;
  cursor: pointer;
}

.norm {
  background: #44f4dd;
  border: 1px #050f75 dotted;
  cursor: pointer;
}

.numex {
  background: #af7086;
  border: 1px #912a37 dotted;
  cursor: pointer;
}

.number {
  background: #56c48b;
  border: 1px #083f20 dotted;
  cursor: pointer;
}

.unit {
  background: #f47a07;
  border: 1px #7a112d dotted;
  cursor: pointer;
}

.organization {
  background: #b74964;
  border: 1px #441633 dotted;
  cursor: pointer;
}

.osname {
  background: #f7a583;
  border: 1px #441633 dotted;
  cursor: pointer;
}

.package {
  background: #eadec5;
  border: 1px #827d2a dotted;
  cursor: pointer;
}

.packagename {
  background: #5b434b;
  border: 1px #827d2a dotted;
  cursor: pointer;
}

.parametername {
  background: #deeaa8;
  border: 1px #910a3d dotted;
  cursor: pointer;
}

.person {
  background: #13f457;
  border: 1px #458203 dotted;
  cursor: pointer;
}

.predicate {
  background: #eda6e8;
  border: 1px #ad209f dotted;
  cursor: pointer;
}

.productname {
  background: #cde835;
  border: 1px #910a3d dotted;
  cursor: pointer;
}

.programminglanguagename {
  background: #809db7;
  border: 1px #061b5e dotted;
  cursor: pointer;
}

.rawvalue {
  background: #65664b;
  border: 1px #343535 dotted;
  cursor: pointer;
}

.resource {
  background: #64a81c;
  border: 1px #294f19 dotted;
  cursor: pointer;
}

.srl {
  background: #bc8f65;
  border: 1px #294f19 dotted;
  cursor: pointer;
}

.softwarebundle {
  background: #bc8f65;
  border: 1px #ba8034 dotted;
  cursor: pointer;
}

.softwarename {
  background: #a09e23;
  border: 1px #f7001c dotted;
  cursor: pointer;
}

.string {
  background: #f7001c;
  border: 1px #5b0f00 dotted;
  cursor: pointer;
}

.typename {
  background: #02e2df;
  border: 1px #100de0 dotted;
  cursor: pointer;
}

.url {
  background: #965a06;
  border: 1px #2b1523 dotted;
  cursor: pointer;
}

.userid {
  background: #a5958e;
  border: 1px #666203 dotted;
  cursor: pointer;
}

.usermention {
  background: greenyellow;
  border: 1px green dotted;
  cursor: pointer;
}

.variablename {
  background: yellow;
  border: 1px yellowgreen dotted;
  cursor: pointer;
}

.versionnumber {
  background: lightseagreen;
  border: 1px blue dotted;
  cursor: pointer;
}

.vulnerability {
  background: lightsalmon;
  border: 1px red dotted;
  cursor: pointer;
}

.attributename {
  background: lightpink;
  border: 1px red dotted;
  cursor: pointer;
}

.unknownentity {
  background: grey;
  border: 1px black dotted;
  cursor: pointer;
}
