<h2>NER results</h2>
<p>Original text: </p>
<pre>
  <code>{{ docData.text }}</code>
</pre>

<h3>Entities discovered:</h3>
<div *ngIf="rawHtmlString">
  <div *ngIf="rawHtmlString.length > 0 ">
    <p class="hint">Mouse over the color tags to see their type</p>
    <ul>
      <li *ngFor="let entity of entitiesDetected" class="type-label">
        <span class="dot" [ngClass]="entity.toLowerCase()" [title]="entity"></span> {{entity}}
      </li>
    </ul>
  </div>
  <div *ngIf="rawHtmlString.length <= 0" class="empty-message">
    <p>The NER tool found no entities for this parsed text string</p>
  </div>
  <ul>
    <li *ngFor="let item of rawHtmlString" [innerHtml]="item"></li>
  </ul>
</div>
