<h2>Entities recognition</h2>
<p>{{ this.selectedTool.description }}</p>

<app-artifact-comments-selector #commentsSelector
  [toolIsNER]="selectedTool.toolName === 'NER'"
  [availableCommentsAndAnnotations]="selectableArtifacts"
  [source]="true"
  [target]="false"
  (executeTool)="executeTool()"
  [invocationResult]="nerInvocationResult"
  [loading]="loading"
  (resetEvent)="onResetEvent()"
>
</app-artifact-comments-selector>
