<div class="guide-content-container" fxLayout="column">
    <div class="title" id="0">User guide</div>
    <p>
       This section describes the complete list of user interfaces implemented so far.
    </p>
    <div class="content">
        <div class="full-width" id="1">Login</div>
        <div>
            <img src="../../../../../assets/help-files/login.png" alt="login layout"/>
            <br/>
            <p>
               The Log in screen is the first screen any user will see when opening the application.
               Registered users will have to introduce their email address and password in order to log in.
               By clicking the ‘Log in’ button, if login check passes, the user will be redirected to the profile selection interface.
               <a (click)="scroll(2)">[2.4.2.]</a>
               In case of forgotten password, the administrator should be contacted.
            </p>
        </div>

        <div class="full-width" id="2">Profile selection</div>
        <img src="../../../../../assets/help-files/profile-selection.png" alt="profile selection section"/>
        <br/>
        <p>
            After successfully logging in, the user has to select a profile to access the application.
            The available profiles (dropdown list) represent the list of roles a user may have, respectively to all their projects.
            By clicking the Connect button, the user is taken to the home page of the application.
            the available roles are:
            <br/>
            <strong>Developer</strong>: it's the main role in the application. Aimed at software developers.<br/>
            <strong>Reviewer</strong>: it's the only user allowed to create reviews. Other users can read and comment on them.<br/>
            <strong>Mantainer</strong>: it's the only user allowed to edit the traceability matrix (under development). <br/>
            <strong>Admin</strong>: it's a hidden role some users may have in addition to the other roles.
                Admin users can create new projects, create new users and have additional features inside Jupyter <br/>
        </p>

        <div class="full-width" id="3">User area</div>
        <img src="../../../../../assets/help-files/user-area.png" alt="user area section"/>
        <br/>
        <p>
            All application users (developers, maintainers and reviewers) have access to the user area, where information about their profile and the projects they take part in, are available.
            Users will be able to edit basic profile information, like define an organization or workplace and modify the account email and password.
            They will also be able to see the list of projects in which they participate, with their details (roles played in them and creation date) and a direct link to those projects.
        </p>

        <div class="full-width" id="4">Project list</div>
        <img src="../../../../../assets/help-files/project-list.png" alt="project list section"/>
        <br/>
        <p>
            On this screen users will be able to view the list of projects in which they participate.
            Only the name of the project will be displayed. Admin users can also create a new project from scratch by clicking on the 'New project' icon on the screen (only visible to admin users).
            Once a new project is created, the user will become the owner of that project and the word "owner" will appear next to the title.
            the user who created the project will become member of this project with all the three final roles. This action creates a complete database inside DECODER for this new project.
            Also, an instance of Jupyter [4] is configured for this particular project as we will describe in section 2.3.14.
            The user can also edit the name of a project if they are its owner.
        </p>

        <div class="full-width" id="5">Project version</div>
        <img src="../../../../../assets/help-files/project-versions.png" alt="project version section"/>
        <br/>
        <p>
            The user (developer, maintainer, and reviewer) will see this screen when they select an assigned project from the list.
            The screen displays the project name and four tabs, representing specifically the project versions page, the list of project members, a git manager to import new projects, and reviews posted by a reviewer.
            On the project versions section, the user can access the project or use the uploader to upload single files to an existing project.
        </p>
        <br/>
        <img src="../../../../../assets/help-files/uploader.png" alt="uploader section"/>
        <br/>
        <p>
            When uploading a file, it's possible to change the file name, add the file inside a project's specific folder
            <em>- by checking the optional parameter "add project relative path" and specifing the folder's directory inside the project -</em>
            and select the file type. If no relative path is provided, the file is added on the project's root folder.
        </p>

        <div class="full-width" id="6">Project members</div>
        <img fxLayoutAlign="center center" src="../../../../../assets/help-files/team-members.png" alt="team members section"/>
        <p>
            This tab is visible to all users (developer, maintainer, and reviewer).
            In this section, it is possible to create globally new Decoder users, add created users to a project and remove them from a project.
            The button "Create member" opens the registration form for globally creating a new Decoder User.
            The button "Add member", allows the input of a previously created username on a project's team members' table.
            Each row of team members' table contains: username, user roles on that project and status (currently empty).
        </p>

        <div class="full-width" id="7">Git Manager</div>
        <img src="../../../../../assets/help-files/git-manager.png" alt="git manager section"/>
        <br/>
        <p>
            This tab is visible to all users (developer, maintainer, and reviewer).
            In this section, it is possible to import into Decoder, a whole github repository.
            If the reposito public, it's sufficient to provide the github project url.
            If Authentication is required, it's possible to provide your git usarname, password and ssh private key.
        </p>

        <div class="full-width" id="8">Reviews</div>
        <img src="../../../../../assets/help-files/review-table.png" alt="review section"/>
        <br/>
        <p>
            The review table is accesible for all users (developer, maintainer, and reviewer).
            All users can access the reviews and delete them, but only reviewers can create reviews and comment on them.
        </p>
        <img src="../../../../../assets/help-files/add-review.png" alt="review section"/>
        <br/>
        <p>
            When creating a review, reviewers must specify a title for the review and can add optional comments and artifact references.
        </p>
        <img src="../../../../../assets/help-files/review.png" alt="review section"/>
        <br/>
        <p>
            Reviews are accesible for all users, but only reviewers can edit them.
        </p>

        <div class="full-width" id="9">Project view components</div>
        <img src="../../../../../assets/help-files/project-view-numbered.png" alt="project view section"/>
        <br/>
        <p>
            The project view is the project's home page. It's displayed when the user <a (click)="scroll(5)">selects a project version.</a>
            The screen is composed of 4 elements:<br>
            <strong>1. navigation sidebar: </strong>allows user to navigate to project view (default),
                <a (click)="scroll(5)">Decoder tools</a>,
                <a (click)="scroll(5)">Tool invocation results</a>,
                <a (click)="scroll(5)">Traceability Matrix</a> and
                <a (click)="scroll(5)">Jupyter Hub</a>.<br>
            <strong>2. file selector: </strong>Projects imported to Decoder have their files grouped into Decoder <a (click)="scroll(5)">artifact types</a>.
                The user can access the files on this section by searching through the folder directory or typing the file name on the quick search bar.<br>
            <strong>3. related files: </strong> quick link to files having the same name<br>
            <strong>4. file visualizer: </strong>renders the file content.<br>
        </p>

        <div class="full-width" id="10">Decoder Tools</div>
        <img src="../../../../../assets/help-files/tool-selection.png" alt="tools section"/>
        <br/>
        <p>
            In this screen, accessible from the left bar with the tool icon, users can work with DECODER by following the methodology specified at WP5.
            This screen is also the place where every tool can be invoked. For each project phase, displayed in the left side, a series of tools are available.
            If the user is, for instance, currently in phase of design, he can go to this project phase, select it, and the tool list that DECODER provides for this phase will appear in the right side of the screen, as shown in Figure 29.
            The subset of tools included for each development phase is described in D5.5 [1].
            With this screen, a methodology guided set of actions can be performed over artefacts and over the project itself.
        </p>

        <div class="full-width" id="11">Traceability matrix results</div>
        <img src="../../../../../assets/help-files/traceability-matrix-general.png" alt="traceability matrix section"/>
        <br/>
        <p>
          This screen shows the traceability matrix results of a single project. After the execution of the Trace Recovery tool, a new entry will be inserted in this matrix. Here we can see if the tool has determined a similarity or not between two text strings obtained from the content of text sections of different artifacts (for the moment mainly comments and annotations of code files).
        </p>
        <br/>
        <img src="../../../../../assets/help-files/matrix-result-details.png" alt="matrix edition section"/>
        <br/>
        <p>
          When the user clicks on the boxes located on the diagonal of the matrix, they will be able to access a screen where the detailed result of the text comparison made by the Trace Recovery tool will be shown. On this screen we can see the original files where those sections of text are and also the specific text. On the other hand, we will have a value for similarity that will indicate whether these texts are considered similar or not.
        </p>

        <div class="full-width" id="12">Project browser renderers</div>
        <img src="../../../../../assets/help-files/project-renderers.png" alt="project browser interface section"/>
        <br/>
        <p>
            The user is able to access this screen once a version of a project has been chosen. Here he will see listed on the left all the artifacts of the project version, diagrams, documentation, code, among others. Once you have selected an artifact, you can view its content in the center section and download the content on your computer if you wish. In this central section we will also see the tags related to the artifact in question.
            On the other hand, on the right side of the screen, the user will be able to see a list of artifacts related to the one they have selected, being able to access them with a click. If the user decides to navigate between different artifacts, he will be able to see that tour at the top of the central section where the tabs of the recently opened artifacts appear, being able to easily navigate between them or close them.
        </p>
        <br/>
        <img src="../../../../../assets/help-files/project-documents.png" alt="project browser interface 2 section"/>
        <p>
          In addition, there is the possibility of viewing different types of documents such as pdf, docx, markdown, among others.
        </p>
        <br/>

        <div class="full-width" id="13">Jupyter search engine view</div>
        <img src="../../../../../assets/help-files/Jupyter-search-engine-interface.png" alt="jupyter section"/>
        <br/>
        <p>
            This screen represents the Jupyter search engine view. In it we can see inserted in DECODER the interface of Jupyter Notebook that allows the user to create and share documents that contain live code, equations, visualizations and narrative text
            After clicking this icon, the Jupyter view is loaded in a component. The component contains mainly an iframe to a central Jupyter installation and it connects to the underlying PKM. The projects that do not belong to the user are not presented.
            A template with predefined queries is presented to the user as a means of showing the data model, options, and to present a clear view of the documentation of the project. This section is described with more detail at section 3.4.
        </p>

        <div class="full-width" id="14">Support page</div>
        <p>
            A help page has been included inside the application. Is always present on the bottom right corner, once the user has is logged into the system. To open it, the “Support” icon must be pressed. It follows the structure of the site map presented on this document, and it provides information to the user on how to use the application. A section for frequently asked questions is included also with the topics that might need more clarifications.
        </p>
        <br/>
        <img src="../../../../../assets/help-files/support-page.png" alt="support page section"/>
    </div>
</div>
