@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.guide-content-container {
    width: $app-max;
    height: $app-max;
    @include pad-all(0, 20, 0, 20);

    div {
        .full-width {
            width: $app-max;
            @include pad-all(10, 0, 10, 0);
            font-size: $font-xxl;
        }
    }
}

img {
    width: $help-img-size;
}

.content {
    @include pad-all(0, 10, 0, 10);
    width: $app-max;
}

.title {
    font-size: $font-xxl;
    @include pad-top(10);
}

p {
    font-size: $font-lg;
    justify-content: center;
}

.central {
    width: $app-max;
}

a:hover {
    cursor: pointer;
}

a {
    color: $blue;
}