<h2>Semantic Role Labeling</h2>
<p>{{this.selectedTool.description}}</p>

<app-artifact-comments-selector #commentsSelector 
[toolIsNER]="selectedTool.toolName === 'NER'"
[availableCommentsAndAnnotations]="selectableArtifacts"
[source]="true"
[target]="false"
(executeTool)="executeTool()"
[invocationResult]="srlInvocationResult"
[loading]="loading"
(resetEvent)="onResetEvent()"
>
</app-artifact-comments-selector>
