<div class="html-list">
  <div *ngFor="let html of htmlSequences; index as i">
    <button mat-button (click)="setHtml(html)">
      <strong> {{ htmlSequencesVerdicts[i] }} </strong> --> HTMLReportLink file
      {{ i + 1 }}
    </button>
  </div>
</div>
<iframe [src]="htmlUrl" title="testar renderer" id="testar-iframe"></iframe>
