@import 'abstracts/mixins';
@import 'abstracts/variables';

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.filter-under-header {
  @include pad-right(3);
}

.no-outline {
  outline: none;
}

.text-left {
  text-align: left !important;
}

// Snackbar
.multi-line-snackbar {
  white-space: pre-wrap;
}

// Positioning
.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.artifact-selector-empty {
  width: 100%;
  margin-bottom: 2%;
}

// Links

.dec-link {
  text-decoration: none;
  color: $light-blue;
}

// Buttons

.button-delete {
  background-color: #ef4e4e;
  color: $white;
}

.button-accept {
  background-color: $theme-secondary-dark;
  color: $white;

  span.mat-button-wrapper {
    display: flex;
    align-items: center;

    .mat-icon {
      @include push-right(2);
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: $disabled-opacity;
}

.flat-button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

.selected-item {
  @include background-rgba(0, 105, 87, 0.25);
  font-weight: bold;
}

.mat-tooltip.tooltip {
  background-color: $artifacts-background;
  color: $black;
  font-size: 12px;
}

// Responsive padding

@media (min-width: 576px) {
  .responsive-pad-left {
    @include pad-left-important(4);
  }

  .responsive-pad-left-small {
    @include pad-left-important(2);
  }
}
@media (min-width: 768px) {
  .responsive-pad-left {
    @include pad-left-important(8);
  }

  .responsive-pad-left-small {
    @include pad-left-important(4);
  }
}

@media (min-width: 992px) {
  .responsive-pad-left {
    @include pad-left-important(12);
  }

  .responsive-pad-left-small {
    @include pad-left-important(6);
  }
}

@media (min-width: 1200px) {
  .responsive-pad-left {
    @include pad-left-important(16);
  }

  .responsive-pad-left-small {
    @include pad-left-important(8);
  }
}
