.icon-title-content-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 40px 1fr;
  grid-template-areas:
    'icon title'
    '. content';

  .icon {
    grid-area: icon;
    align-self: center;
  }

  .title {
    grid-area: title;
  }

  .content {
    grid-area: content;
  }
}
