<h2>Get semantic information from from Java files</h2>
<p>{{this.selectedTool.description}}</p>
<mat-horizontal-stepper linear #stepper class="custom-steps">

  <!-- custom step states -->
  <ng-template matStepperIcon="edit" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>

  <ng-template matStepperIcon="all-done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="null" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>
  <!-- custom step states -->

  <mat-step label="Artifact selection" completed="false" state='null' *ngIf="selectedTool.toolID === 'javaParser'">
    <ng-template matStepLabel>Artifact selection</ng-template>
    <div class="artifact-selector">
      <app-artifact-selector [selectableArtifacts]="selectableArtifacts" (selectedItems)="checkSelectedItems($event)"
        toolName="Javaparser" type="Code">
      </app-artifact-selector>
    </div>
    <button mat-flat-button class="header-button button-accept" (click)="nextStep(stepper)"
      [disabled]="selectedArtifacts.length === 0">
      Execute tool
    </button>
  </mat-step>
  <mat-step label="Execution mode" completed="false" state='null'
    *ngIf="selectedTool.endpoint.queryParameters[0].allowedValues">
    <ng-template matStepLabel>Select execution mode</ng-template>
    <app-configuration-selector [toolConfig]="selectedTool"
      (selectedExecutionMode)="checkSelectionExecutionMode($event, stepper)">
    </app-configuration-selector>
  </mat-step>
  <mat-step label="Results tools execution" completed="false" state='null'>
    <ng-template matStepLabel>Results tools execution</ng-template>
    <app-request-result-renderer [requestResponse]="javaParserInvocationResult" [loading]="loading">
    </app-request-result-renderer>
    <div>
      <button mat-button class="button-accept" (click)="reset(stepper)">
        Back to tool selection
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
