@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

$field-width: 336px;

.box-1 {
  align-items: stretch;
  width: 50vw;
}

.user-details {
  align-items: stretch;
  padding-top: 2%;

  .field {
    display: flex;
    @include input-border(1px, $gray);
    @include border-radius(6px);
    @include pad-all(2, 0, 2, 1);
    color: $gray;
    background-color: rgb(224, 224, 224);
    border-color: rgb(224, 224, 224);
    font-size: 0.8em;
    min-width: $field-width;
  }
}

.user-icon {
  $icon-size: 150px;
  padding: 3%;
  min-width: $icon-size;
  min-height: $icon-size;
  max-width: $icon-size;
  max-height: $icon-size;
  border-radius: 100%;
  cursor: pointer;
}

.user-icon:hover {
  opacity: 0.3;
}

.user-input {
  max-width: 10ch;
  font-weight: normal;
  font-size: 1.3em;
}

label {
  display: block;
  @include push-bottom(1);
}

p {
  text-indent: 0.5em;
  margin-bottom: 2em;
  color: $gray;
  font-size: 0.95em;
  width: 100%;
}

.emailBox {
  display: flex;
  margin-bottom: 2rem;
}

.login-button {
  color: $white;
  min-width: 140px;
  width: 15vw;
  max-width: 200px;
  padding-right: 20px;
  padding-left: 14px;
  mat-icon {
    position: relative;
    height: 19px;
    padding-right: 2px;
    font-size: 17px;
    opacity: 70%;
  }
}

.info-section {
  margin-top: 2%;
  margin-bottom: 3%;
}

.join-date {
  text-indent: 0.3em;
  margin-bottom: 2em;
  color: $gray;
  font-size: 0.9em;
  width: 100%;
}
.info-container {
  margin-bottom: 5%;
}

.field-width {
  min-width: $field-width;
}
