<div class="icon-title-content-layout full-width">
  <mat-icon class="icon"> account_circle </mat-icon>
  <h2 class="title space-before-content">User Profile</h2>
  <div class="content info-container space-before-content" fxLayout="column">
    <div
      fxLayout="row"
      fxFlex="90"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      class="box-1"
    >
      <div class="user-details" fxLayout="column" fxFill fxFlex="40">
        <img
          [src]="imgSrc"
          class="user-icon"
          (click)="inputUpload.click()"
          alt="profile"
        />
        <input
          type="file"
          accept="image/*"
          style="display: none"
          #inputUpload
          (change)="processFile($event)"
        />
      </div>

      <div
        class="user-details"
        fxLayout="column"
        fxFill
        fxFlex="60"
        fxLayoutAlign="start"
      >
        <app-editable-field-tooltip tooltip="Change username">
          <mat-form-field class="mat-form-field-m no-pad" appearance="none">
            <input class="user-input" matInput [value]="name" />
          </mat-form-field>
        </app-editable-field-tooltip>
      </div>
    </div>

    <br />

    <div class="user-details full-width" fxLayout="column">
      <label>E-mail</label>
      <div class="emailBox">
        <span class="field"> {{ email }}</span>
        <a mat-button class="dec-link" routerLink="./change-email">
          <mat-icon> edit </mat-icon>
          Change e-mail
        </a>
      </div>
      <label>Password</label>
      <div fxLayout="row">
        <span class="field"> {{ password }}</span>
        <a mat-button class="dec-link" routerLink="./change-user-password">
          <mat-icon> edit </mat-icon>
          Change password
        </a>
      </div>
    </div>
  </div>
</div>
