<section *ngIf="matrixResultInformation.destination.invocationID !== ''" class="result-container">
  <h3 class="matrix-result-title"><span>Result invocation ID:</span> {{ matrixResultInformation.destination.invocationID }}</h3>

  <p class="matrix-result-subtitle"><mat-icon>code</mat-icon>Source file: </p>
  <p class="matrix-result-value">{{ matrixResultInformation.origin.src_path }}</p>
  <p class="matrix-result-subtitle"><mat-icon>description</mat-icon> Source text: </p>
  <pre>
    <code>{{ matrixResultInformation.origin.src_text }}</code>
  </pre>

  <p class="matrix-result-subtitle"><mat-icon>code</mat-icon> Target file: </p>
  <p class="matrix-result-value">{{ matrixResultInformation.destination.tgt_path }}</p>
  <p class="matrix-result-subtitle"><mat-icon>description</mat-icon> Target text: </p>
  <pre>
    <code>{{ matrixResultInformation.destination.tgt_text }}</code>
  </pre>

  <hr>
  <div class="similarity-information">
    <h4>
      Percentage of similarity: <span
        [ngClass]="{'green': matrixResultInformation.destination.similarity > 0.85, 'red': matrixResultInformation.destination.similarity < 0.85}"> {{
        matrixResultInformation.destination.similarity * 100 | number: '2.2-2'}}%</span>
    </h4>
    <p>Similarity score: <span class="similarity-value">{{ matrixResultInformation.destination.similarity}}</span></p>
  </div>

</section>

<section *ngIf="matrixResultInformation.destination.invocationID === ''" class="result-container empty">
  <h2>There is no information on the comparison of these two sections of text at the moment</h2>
</section>
