@import '../../../../../styles/abstracts/variables';

.result-container {
  padding: 40px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix-result-title {
  span {
    border-bottom: 3px solid $theme-primary;
  }
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-line;
}

code {
  font-weight: normal;
}

.red {
  font-size: medium;
  font-weight: bold;
  color: red;
}

.green {
  font-size: medium;
  font-weight: bold;
  color: green;
}

.similarity-value {
  font-style: italic;
  font-weight: bold;
}

.similarity-information {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matrix-result-subtitle {
  display: flex;
  align-items: center;
  font-weight: bold;
  mat-icon {
    margin-right: 1%;
  }
}

.matrix-result-value {
  display: flex;
  align-items: center;
  font-style: italic;
  padding-left: 2%;
}
