@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.related-artifacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include empty-background();
  overflow-y: scroll;
  overflow-x: hidden;

  .title {
    display: inline-block;
    @include push-all(3, 3, 3, 3);
    color: $gray;

    strong {
      color: $dark-grey;
      @include push-left(3);
    }
  }

  .list-of-buttons {
    @include push-top(5);
  }

  button[mat-button] {
    font-size: $font-l;
    width: $app-max;
  }

  mat-icon {
    font-size: $font-l;
    width: $font-l;
    height: $font-l;
    @include pad-right(2);
    color: $blue;
  }
}

.alerts {
  box-sizing: border-box;
  @include pad-horizontal(2);
  @include pad-bottom(4);
  @include empty-background-darker();
}
