<div class="related-artifacts-container" fxFill>
  <ng-container *ngIf="selectedArtifact; else noSelection">
    <div fxFlex="100" fxLayout="column" class="full-width">
      <mat-label class="title">
        Related Artifacts: <strong>{{ getLastFileNameFrom(selectedArtifact.name) }}</strong>
      </mat-label>
      <ng-container *ngIf="relatedArtifacts.length; else noRelation">
        <div class="list-of-buttons full-width">
          <button
            mat-button
            *ngFor="let artifact of relatedArtifacts"
            (click)="onSelectedArtifact(artifact)"
            title="{{artifact.name}}"
          >
            <mat-icon>{{ getIcon(artifact.type) }}</mat-icon>
            <span>{{ getLastFileNameFrom(artifact.name) }}</span>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noSelection>
    <mat-label class="title">
      No artifact selected.
    </mat-label>
  </ng-template>
  <ng-template #noRelation>
    <mat-label class="title">
      The selected artifact has not related artifacts.
    </mat-label>
  </ng-template>
</div>
