<h2>C program analyzer</h2>
<p>Parse and Analyze C source codes</p>
<mat-horizontal-stepper linear #stepper class="custom-steps">

  <!-- custom step states -->
  <ng-template matStepperIcon="edit" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>

  <ng-template matStepperIcon="all-done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="null" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>
  <!-- custom step states -->

  <mat-step label="FramaC execution" completed="false" state='null'>
    <ng-template matStepLabel>FramaC execution</ng-template>
    <div [ngClass]="calculateStyle()">
      <app-artifact-selector [selectableArtifacts]="selectableArtifacts" (selectedItems)="checkSelectedItems($event)"
        toolName="FramaC" type="Code">
      </app-artifact-selector>
    </div>
    <button mat-flat-button class="header-button button-accept" (click)="nextStep(stepper)" [disabled]="selectedArtifacts.length === 0">
      Execute tool
    </button>
  </mat-step>
  <mat-step label="Execution mode" completed="false" state='null'>
    <ng-template matStepLabel>Select execution mode</ng-template>
    <div class="container">
      <div class="mode-selector">
        <h4>Mode</h4>
        <mat-selection-list #modesOption (selectionChange)="onModeSelect(modesOption.selectedOptions.selected)">
          <mat-list-option *ngFor="let mode of modes" [value]="mode">
            {{ mode }}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="option-selector">
        <h4>Options</h4>
        <div class="options-container">
          <mat-form-field appearance="fill" *ngIf="isEvaSelected()">
            <mat-label>Eva options</mat-label>
            <input matInput value="main" [(ngModel)]="evaOption"/>
            <mat-hint align="end">Specifies the entry point of EVA , the default value is
              "main"</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="isWpaSelected()">
            <mat-label>Wp options</mat-label>
            <input matInput [(ngModel)]="wpOption" placeholder="write annotated functions to analyze"/>
            <mat-hint align="end">Write annotated functions to analyze split by coma</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Arguments</mat-label>
            <input matInput [(ngModel)]="argsOption" placeholder="Write arguments for the execution" />
            <mat-hint align="end">Write arguments for the execution split by coma</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <button mat-button class="header-button button-accept" (click)="executeTool(stepper)">
      Execute tool
    </button>
  </mat-step>
  <mat-step label="Results tools execution" completed="false" state='null'>
    <ng-template matStepLabel>Results tools execution</ng-template>
    <app-request-result-renderer
      [requestResponse]="framaCInvocationResult"
      [loading]="loading"
    ></app-request-result-renderer>
    <div>
      <button mat-button class="button-accept" (click)="reset(stepper)">
        Back to tool selection
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
