.container {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 5%;
}

.options-container {
  display: grid;
  grid-template-columns: 90%;
}

mat-form-field {
  margin: 2%;
}

button {
  margin-top: 2%;
}
