<h2>Excavator</h2>
<p>{{this.selectedTool.description}}</p>
<mat-horizontal-stepper linear #stepper class="custom-steps">

  <!-- custom step states -->
  <ng-template matStepperIcon="edit" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>

  <ng-template matStepperIcon="all-done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="null" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>
  <!-- custom step states -->

  <!-- select executable binary file -->
  <mat-step label="Artifact selection" completed="false" state='null'>
    <ng-template matStepLabel>Artifact selection</ng-template>
    <div class="artifact-selector">
      <app-artifact-selector [allowMultiple]="false" [selectableArtifacts]="selectableArtifacts" (selectedItems)="checkSelectedItems($event)"
        toolName="Excavator" type="Binary Executable">
      </app-artifact-selector>
    </div>
    <button mat-flat-button class="header-button button-accept" (click)="nextStep(stepper)"
      [disabled]="selectedExecutableFile.length === 0">
      Next
    </button>
  </mat-step>

  <!-- fill optional parameters -->
  <mat-step label="Optional parameters" completed="false" state='null'>
    <ng-template matStepLabel>Optional parameters</ng-template>
    <div class="optional-parameters-container">
      <mat-form-field appearance="fill">
        <mat-label>List of compilation units to process. if left empty, it means all compilation units</mat-label>
        <textarea matInput [(ngModel)]="sources" placeholder='Ex. net/core/scm.c, "lib/once.c", arch/x86/lib/csum-partial_64.c ...'></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>List of types to suppress. (types to be considered as compiler builtins)</mat-label>
        <textarea matInput [(ngModel)]="suppress_types" placeholder='Ex. __builtin_*, "__builtin_va_list" ...'></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>List of functions to suppress. (functions to be considered as compiler builtins)</mat-label>
        <textarea matInput [(ngModel)]="suppress_functions" placeholder='Ex. bcmp, "sprintf", "sscanf" ...'></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Output directory.</mat-label>
        <textarea matInput [(ngModel)]="output_dir" placeholder='Ex. "output"'></textarea>
      </mat-form-field>
    </div>
    <button mat-flat-button class="header-button button-accept" (click)="executeTool(stepper)"
      [disabled]="selectedExecutableFile.length === 0">
      Execute tool
    </button>
  </mat-step>

  <mat-step label="Results tools execution" completed="false" state='null'>
    <ng-template matStepLabel>Results tools execution</ng-template>
    <app-request-result-renderer [requestResponse]="excavatorInvocationResult" [loading]="loading">
    </app-request-result-renderer>
    <div>
      <button mat-button class="button-accept" (click)="reset(stepper)">
        Back to tool selection
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
