<div class="button-area">
  <button mat-button class="button-accept" (click)="saveClicked()" *ngIf="checkArtifactTypeEditable()"><mat-icon>save</mat-icon>Save</button>
  <a *ngIf="checkArtifactTypeDownloadable()" [href]="safeDocumentUrl" [download]="renderingConfig.artifact.name">
    <button mat-button class="button-accept"><mat-icon>download</mat-icon>Download</button>
  </a>
  <button mat-button class="button-delete" (click)="dispatchDeleteEvent()"><mat-icon>delete</mat-icon>Delete</button>
</div>
<app-renderer
  [renderingConfig]="renderingConfig"
  class="full-width full-height renderer"
  [projectName]="projectName"
  (editRawSourceCode)="onEditRawSourceCode()"
></app-renderer>
