@import '../../../../../../styles/abstracts/mixins';
@import '../../../../../../styles/abstracts/variables';

:host {
  display: flex;
  flex-direction: column;
}

.button-area {
  display: flex;
  justify-content: flex-end;
  @include push-vertical(4);

  button {
    color: $white;
    @include push-left(2);
    @include push-right(4);
  }

  button mat-icon {
    @include push-right(2);
  }
}

.renderer {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include background-rgba(255, 255, 255, 1);
}
