@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.uploader-container {
  @include pad-horizontal(20);
  @include pad-top(4);
  @include pad-bottom(8);

  & > * {
    width: 100%;
  }
}

.info-icon {
  margin: 20px 20px 20px 45px;
  text-align: end;
}

.progress-indicator {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 50px;
  margin-bottom: 0px !important;
  grid-template-areas:
    'uploaded-file .'
    'progress-bar close-button'
    'progress-info .';
  @include push-bottom(20);

  .uploaded-file {
    grid-area: uploaded-file;
    place-self: end stretch;
    font-size: $font-xl;
  }

  mat-progress-bar {
    grid-area: progress-bar;
    place-self: center;
  }

  .close-button {
    grid-area: close-button;
    color: $blue;
  }

  .progress-info {
    grid-area: progress-info;
    display: flex;
    justify-content: space-between;
  }
}

.upload-percentage {
  color: $blue;
}

.button-container {
  text-align:center;
}

.button-accept {
  display: block ruby;
  font-size: $font-l;
  text-align: center; 
  margin: 0 auto;
}

.button-cancel {
  @include push-top(2);
  text-decoration: underline;
}

.fileName {
  font-size: $font-l;
  font-weight: bold;
  width:100%
}