<div class="uploader-container mat-elevation-z8">
  <mat-icon
    class="info-icon"
    [matTooltip]="allowedTypes"
    matTooltipPosition="above"
    matTooltipClass="custom-tooltip"
  >
    help_outline
  </mat-icon>
  <app-file-upload
    (fileUpload)="onFileUpload($event)"
    [projectId]="projectId"
  ></app-file-upload>
  <div class="progress-indicator" *ngFor="let file of uploadedFileList; let i=index">
    <span class="uploaded-file">
      Rename file:  
        <input
          type="text" 
          class="fileName"
          id="fileName{{i}}"
          name="fileName{{i}}"
          (focus)="checkExtension(i)"
          (blur)="checkExtension(i)"
          value="{{ file.name }}"
        />

      <mat-checkbox 
        class="decoder-checkbox"
        [checked]="checkboxes[i]"
        name="{{i}}"
        (change)="onCheckboxChange($event)"
      >
        <span style="font-size: 20px">
          add project relative path:
        </span>
      </mat-checkbox>
      <br/>
      <input 
        type="text"
        [hidden]="!checkboxes[i]"
        class="fileName"
        [(ngModel)]="fileRelativePath[i]"
      />
      <br/>

      File Type: 
        <!-- combo for selecting the type of artifact for each file -->
        <select
          id="fileType{{i}}"
          name="fileType{{i}}"
          class="fileName">
          <option
            *ngFor="let type of fileTypes"
            value="{{type}}">{{type}}
          </option>
        </select>
    </span>

    <mat-progress-bar
      class="fill-blue buffer-gray"
      [mode]="progressBarConfig.mode"
      [value]="progressInfos[i].progress"
      [bufferValue]="progressInfos[i].bufferValue"
    ></mat-progress-bar>
    <button mat-icon-button class="close-button" (click)="onCancel(file, i)">
      <mat-icon>close</mat-icon>
    </button>
    <div class="progress-info">
      <span>{{ sizeProgress(progressInfos[i].progress, file) }}</span>
      <span class="upload-percentage"
        >Uploading...{{ progressInfos[i].progress }}%</span
      >
    </div>
  </div>
  <div class="button-container" *ngIf="uploadedFileList.length > 0">
    <button
      mat-raised-button
      class="button-accept"
      (click)="uploadAllClicked()">
      Upload
    </button>
  </div>
  <div class="button-container" *ngIf="uploadedFileList.length > 0">
    <button mat-button class="button-cancel" (click)="onCancel()">
      Cancel
    </button>
  </div>
</div>
