<div class="dialogBox">
    <div mat-dialog-content>
      <p>Are you sure you'd like to</p>
    </div>
    <h1 class="text-center" mat-dialog-title>{{ data.title }} ?</h1>
    <div mat-dialog-content [formGroup]="parts">
      <p *ngIf="data.description" class="description text-center">
        {{ data.description }}
      </p>
      <mat-form-field appearance="outline" class="mat-form-field-m no-pad" >
        <input matInput type="text" placeholder="Insert project name" formControlName="name"/>
      </mat-form-field>
    </div>
    <div class="buttonSection" mat-dialog-actions>
      <button [disabled]="parts.value.name === ''" mat-button class="acceptButton" [mat-dialog-close]="parts.value.name">
        {{ data.accept }}
      </button>
      <button mat-button class="cancelButton" mat-dialog-close="">
        <ng-container *ngIf="data.cancel; else defaultCancel">
          {{ data.cancel }}
        </ng-container>
        <ng-template #defaultCancel>
          No, don't create a project
        </ng-template>
      </button>
    </div>
  </div>
