@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.dialogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include pad-all(4, 4, 4, 4);

  .mat-dialog-title,
  .target {
    font-weight: 900;
    font-size: 32px;
    margin: 0.5em 0 0.5em 0;
  }

  .mat-dialog-content {
    .description {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  .buttonSection {
    @include push-top(14);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .acceptButton {
      background-color: #006957;
      width: 80%;
      color: white;
      font-size: 1.1em;
    }

    .cancelButton {
      @include push-top(4);
      @include push-right(2);
      width: 80%;
      background-color: #FF0000;
      color: white;
    }
  }
}
