@import '../abstracts/variables';

mat-form-field.mat-form-field-m {
  .mat-form-field-infix {
    border-top: 0.3em solid transparent;
    padding: 0.65em 0;
    width: 100%;

    .mat-select-arrow-wrapper {
      vertical-align: baseline;
    }
  }

  .mat-form-field-subscript-wrapper {
    padding-left: 0;

    .mat-form-field-hint-spacer {
      display: none;
    }
  }

  &.no-pad {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  &.no-border {
    .mat-form-field-infix {
      border-top-width: 0;
    }
  }
}

.mat-form-field-xxl.mat-form-field {
  font-size: $font-xxl;

  mat-label {
    font-size: 0.8em;
  }

  mat-icon {
    font-size: 0.8em;
  }

  .mat-form-field-infix {
    padding-top: 0.1em !important;
  }
}
