@import '../abstracts/variables';
@import '../abstracts/mixins';

table.mat-table-m {
  width: 100%;
  
  tr.mat-row {
    height: 66px;
  }

  th {
    font-weight: bold;
    color: black;
  }

  td,
  th {
    font-size: $font-l;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom-width: 2px;
    padding-left: 30px;
  }

  th.text-end {
    text-align: end;
  }

  .icon-cell {
    @include pad-horizontal(6);
    @include icon-width(6);
  }
}

[mat-table].mat-table-m {
  &.hide-border,
  [mat-row] [mat-cell].hide-border,
  [mat-row]:last-child [mat-cell],
  [mat-header-row] [mat-header-cell].hide-border {
    border-bottom-color: transparent;
  }
}

.space-before-content {
  padding-left: 24px;
}
