@import '../abstracts/variables';
@import '../abstracts/mixins';

mat-hint.mat-hint-m {
  @include push-top(5);
  font-size: $font-s;
  display: flex;
  align-items: center;

  mat-icon.mat-icon {
    @include push-right(2);
    font-size: $font-xl;
  }
}

mat-hint.error-hint {
  color: $error;
}
