.decoder-checkbox {
  &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $blue;
  }

  &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $blue;
  }

  &.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
    .mat-ripple-element,
  &.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
    .mat-ripple-element {
    background-color: $blue;
  }
}
