@import '../abstracts/variables';

.mat-chip.mat-standard-chip {
  min-height: 23px;

  &.chip-update {
    background-color: $blue;
    color: $white;
  }
  &.chip-new {
    background-color: $theme-secondary;
    color: $white;
  }
  &.chip-delete {
    background-color: $error;
    color: $white;
  }
}
