@import '../abstracts/variables';

.mat-progress-bar {
  height: 4px;
  border-radius: 2px;

  &.fill-blue {
    .mat-progress-bar-fill::after {
      background: $blue;
    }
  }

  &.fill-primary {
    .mat-progress-bar-fill::after {
      background: $theme-primary;
    }
  }

  &.fill-primary-dark {
    .mat-progress-bar-fill::after {
      background: $theme-primary-dark;
    }
  }

  &.fill-secondary {
    .mat-progress-bar-fill::after {
      background: $theme-secondary;
    }
  }

  &.buffer-gray {
    .mat-progress-bar-buffer {
      background-color: $light-gray;
    }
  }

  &.buffer-white {
    .mat-progress-bar-buffer {
      background-color: $white;
    }
  }
}

