@import '../abstracts/mixins';

.tools .mat-list-item .mat-list-text {
  white-space: nowrap;
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-li-s {
  height: auto !important;

  .mat-list-item-content {
    @include pad-vertical-important(2);
  }
}

// Responsive padding

@media (min-width: 576px) {
  .mat-li-responsive-pad-left .mat-list-item-content {
    @include pad-left-important(4);
  }

  .mat-li-responsive-pad-left-small {
    @include pad-left-important(1);
  }
}
@media (min-width: 768px) {
  .mat-li-responsive-pad-left .mat-list-item-content {
    @include pad-left-important(8);
  }

  .mat-li-responsive-pad-left-small {
    @include pad-left-important(2);
  }
}

@media (min-width: 992px) {
  .mat-li-responsive-pad-left .mat-list-item-content {
    @include pad-left-important(12);
  }

  .mat-li-responsive-pad-left-small {
    @include pad-left-important(3);
  }
}

@media (min-width: 1200px) {
  .mat-li-responsive-pad-left .mat-list-item-content {
    @include pad-left-important(16);
  }

  .mat-li-responsive-pad-left-small {
    @include pad-left-important(4);
  }
}
