.custom-steps .mat-step-header .mat-step-icon {
    background-color: rgb(200, 200, 200);
    color: #fff !important;
  }
  
  .custom-steps .mat-step-icon-state-number {
    background-color: rgba(255, 102, 0, 0.6) !important;
  }
  
  .custom-steps .mat-step-icon-state-done {
    background-color: rgba(255, 102, 0, 0.8) !important;
  }
  
  .custom-steps .mat-step-icon-selected {
    background-color: rgb(255, 102, 0) !important;
  }

  .custom-steps .mat-horizontal-stepper-header-container {
    display: flex;
    flex-wrap: wrap;
  }