:host {
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
}

.image-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown-viewer {
  width: 100%;
  height: 100%;
  padding-inline: 5%;
  overflow-y: auto;
}
