<ngx-doc-viewer
  *ngIf="this.extensionIsBinaryDocument"
  [url]="safeDocumentUrl"
  viewer="google"
  style="width:100%;height:100%;"
></ngx-doc-viewer>

<div *ngIf="this.extensionIsFormattedText" class="markdown-viewer">
  <markdown
    [data]="content"
  ></markdown>
</div>

<div *ngIf="this.extensionIsImage" class="image-container">
  <img
    ngxViewer
    [viewerOptions]="viewerOptions"
    [src]="safeDocumentUrl"
    class="center-image"
    matTooltip="Click image to display viewer mode."
    alt="rendered image from a project"
  >
</div>

