@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.quick-searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .quicksearch-form {
    @include border-radius(5);
    padding-top: 10px;
  }

  mat-icon {
    color: $light-gray;
    margin-left: auto;
  }
}
