<div class="quick-searchbar-container">
    <mat-form-field appearance="outline" class="quicksearch-form mat-form-field-m" style="width: 90%;">
        <input fxFlex="80"
               type="text"
               placeholder="Quick search"
               aria-label="Number"
               (keyup)="onKeyUp()"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="onMouseSelection(option)">
                {{ option.type }} - {{ option.name }}
            </mat-option>
        </mat-autocomplete>
        <mat-icon >filter_list</mat-icon>
    </mat-form-field>
</div>
