@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.review-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include push-vertical(5);
  font-size: $font-xl;

  mat-icon {
    @include pad-right(5);
    width: $font-lg;
    height: $font-lg;
    font-size: $font-lg;
    color: $light-gray;
  }
}

.review-btn-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  button {
    margin-left: auto;
    margin-right: 10px;
    color: $white;
    background: $theme-secondary-dark;
  }
}

.eye-icon {
  width: $font-xxl !important;
  height: $font-xxl !important;
  font-size: $font-xxl !important;
  color: $black !important;
  @include pad-top(1);
}
