
<div class="review-title">
  <mat-icon class="eye-icon">remove_red_eye</mat-icon><strong>Reviews</strong>
  <div class="review-btn-container">
    <button
      *ngIf="currentRole === 'Reviewer' && selectedReview == undefined"
      mat-raised-button
      (click)="addReviewFunc()">Add review
    </button>
  </div>
</div>

<app-review-table
  #reviewsTable
  [dataSource]="dataSource"
  [projectId]="projectId"
  (deleteReviewEventEmitter)="onDeleteReview($event)"
  (reviewRequestedSelected)="onReviewRequestSelected($event)"
></app-review-table>
