@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

::ng-deep .check_circle {
  background-color: $success;
  color: $success-color;
}

::ng-deep .error {
  background-color: $error;
  color: $white;
}

::ng-deep .snackbar-container {
  display: flex;
  flex-direction: row;

  font-size: $font-m;

  mat-icon {
    @include push-right(5);
  }

  .snackbar-left {
    display: flex;
    flex: 10;
  }

  .snackbar-center {
    display: flex;
    flex: 70;
    justify-content: flex-start; 
    align-items: center;
    span {
      line-height: $font-m;
      font-size: $font-s;
    }
  }

  .snackbar-right {
    display: flex;
    flex: 20;
  }
  
}
