<div class="snackbar-container">
    <div class="snackbar-left"></div>
    <div class="snackbar-center">
        <mat-icon>{{data.snackClass}}</mat-icon>
        <span>{{data.message}}</span>
    </div>
    <div class="snackbar-right"></div>
</div>
