@import '~@angular/material/theming';
@import '../vendors/vendors';
@import '../abstracts/variables';
@import './styles/material-styles';
@include mat-core();

$app-colors: (
  50: $theme-primary,
  100: $theme-primary,
  200: $theme-primary,
  300: $theme-primary,
  400: $theme-primary,
  500: $theme-primary,
  600: $theme-primary,
  700: $theme-primary,
  800: $theme-primary,
  900: $theme-primary,
  A100: $theme-primary,
  A200: $theme-primary,
  A400: $theme-primary,
  A700: $theme-primary,
  contrast: (
    50: $theme-secondary,
    100: $theme-secondary,
    200: $theme-secondary,
    300: $theme-secondary,
    400: $theme-secondary,
    500: $theme-secondary,
    600: $theme-secondary,
    700: $theme-secondary,
    800: $theme-secondary,
    900: $theme-secondary,
    A100: $theme-secondary,
    A200: $theme-secondary,
    A400: $theme-secondary,
    A700: $theme-secondary
  )
);

$app-primary: mat-palette($app-colors, 50);
$app-accent: mat-palette($app-colors, 50);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$app-typography: mat-typography-config(
  $font-family: '"source sans pro", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-theme($app-theme);
@include angular-material-typography($app-typography);


