<h2>Generate JML assertions in Java code</h2>
<p>{{ this.selectedTool.description }}</p>
<mat-horizontal-stepper linear #stepper class="custom-steps">

  <!-- custom step states -->
  <ng-template matStepperIcon="edit" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>

  <ng-template matStepperIcon="all-done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="null" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>
  <!-- custom step states -->

  <mat-step label="JMLGen execution" completed="false" state='null'>
    <ng-template matStepLabel>JMLGen execution</ng-template>

    <button
      mat-flat-button
      class="header-button button-accept"
      (click)="executeTool(stepper)"
    >
      Execute tool
    </button>
  </mat-step>
  <mat-step label="Results tools execution" completed="false" state='null'>
    <ng-template matStepLabel>Results tools execution</ng-template>
    <app-request-result-renderer
      [requestResponse]="jmlGenInvocationResult"
      [loading]="loading"
    ></app-request-result-renderer>
    <div>
      <button mat-button class="button-accept" (click)="reset(stepper)">
        Back to tool selection
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
