@import '../../../../../styles/abstracts/mixins';

.artifact-tree-invisible {
  display: none;
}

.artifact-tree {
  width: 100%;
  overflow: auto;
  max-height: 70vh;

  ul,
  li {
    @include push-vertical(0);
    list-style-type: none;
  }
}

.mat-tree-node {
  @include push-top(-3);
  width: 90%;
  cursor: pointer;
}

mat-tree {
  @include empty-background();
  font-size: $font-l;

  button[mat-button] {
    @include pad-all(-3, 0, -3, 0);
    font-size: $font-l;
    width: 100%;
    display: flex;
  }

  mat-icon {
    font-size: $font-l;
    width: $font-l;
    height: $font-l;
    color: $blue;
  }

  mat-icon.dropdown-arrow {
    @include pad-right(5);
  }

  mat-icon.folder,
  mat-icon.pad-end {
    @include pad-right(2);
  }
}

.pad-start {
  @include pad-left(2);
}

.mat-tree-node button[mat-button] {
  min-height: auto;

}

li button[mat-icon-button] {
  display: flex;
  justify-content: center;
  mat-icon {
    @include pad-bottom(3);
  }
}

::ng-deep mat-tree > button > .mat-button-wrapper > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-artifacts-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
