<section class="no-artifacts-message" *ngIf="emptyArtifactsMessage">
  <p *ngIf="!spinnerDisplayed">No artifacts uploaded yet!</p>
  <div *ngIf="spinnerDisplayed">
    <mat-spinner></mat-spinner>
  </div>
</section>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="artifact-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node">
    <li class="mat-tree-node">
      <button mat-button class="mat-tree-node trim-name" [ngClass]="{ 'selected-item': isSelected(node) }"
        (click)="onSelection(node)" title="{{decodeName(node.name)}}">
        <mat-icon class="pad-start pad-end">
          {{ node.icon }}
        </mat-icon>
        {{ getLastFileNameFrom(node.name) }}
      </button>
    </li>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node" matTreeNodeToggle>
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        <mat-icon class="folder">{{
          treeControl.isExpanded(node) ? "folder_open" : "folder"
          }}</mat-icon>
        {{ node.name }}
      </div>
      <ul [ngClass]="{ 'artifact-tree-invisible': !treeControl.isExpanded(node)}">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
