<div class="email-grid">
  <button mat-icon-button class="back-button" routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3 class="title">
    <strong>Change e-mail Address</strong>
  </h3>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()" class="email-form">
    <label>New e-mail</label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input
        matInput
        formControlName="newEmail"
        placeholder="example@email.com"
        type="email"
      />
    </mat-form-field>

    <label>Confirm new e-mail</label>
    <mat-form-field appearance="outline" class="mat-form-field-m">
      <input
        matInput
        formControlName="confirmNewEmail"
        placeholder="example@email.com"
        type="email"
      />
      <mat-hint *ngIf="hasDifferentEmails()" class="mat-hint-m error-hint">
        <mat-icon>error</mat-icon>
        The e-mails you entered are not the same
      </mat-hint>
    </mat-form-field>

    <div class="buttons">
      <a mat-raised-button class="cancel-button" routerLink="../">
        Cancel
      </a>
      <button
        mat-raised-button
        class="button-accept"
        type="submit"
        [class.disabled]="emailForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
