:host {
  overflow: auto;
}

:host::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

:host::-webkit-scrollbar-track {
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
}

:host::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.anchor {
  position: absolute;
}

.right-anchor {
  top: 0;
  right: 0;
  height: 100%;
}

.bottom-anchor {
  bottom: 0;
  left: 50%;
}

.container {
  width: fit-content;
  position: relative;
}
