<div mat-dialog-content class="review-info">
  <div class="project-info-header">
    <div>
    </div>
  </div>
  <div class="buttons">
    <button class="ongoing-button">
      <mat-icon>remove_red_eye</mat-icon>Ongoing
    </button>
    <button mat-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="info-card">
  <span class="review-name">
    <mat-icon>remove_red_eye</mat-icon><strong>{{ data.reviewTitle }}</strong>
  </span>
  <span>
    Request date: <strong>{{ data.reviewOpenDate }}</strong>
  </span>
</div>
