@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.review-info {
  width: auto;
  display: flex;
}
.buttons {
  display: flex;
  align-items: center;
  .ongoing-button {
    background-color: $theme-secondary;
    border: none;
    border-radius: 1rem;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-icon {
      margin-right: 0.5rem;
    }
  }
}

.review-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  font-size: $font-l;
}

.info-card {
  display: flex;
  flex-direction: column;
  span {
    margin: 0.5rem;
  }
}

.project-info-header {
  flex: 1;
  h1 {
    font-size: $font-xl;
  }
  span {
    font-size: $font-lg;
  }
}
