<div class="container">
  <div class="help-title responsive-pad-left-small">Help</div>
  <mat-nav-list class="user-guide-list">
    <ng-container *ngFor="let link of userGuideLinks; index as i; first as isFirst">
      <a
        mat-list-item
        [ngClass]="{
          'mat-li-responsive-pad-left-small bold-text' : isFirst,
          'mat-li-s mat-li-responsive-pad-left': !isFirst
        }"
        [class.selected-item]="isLinkSelected(link, i)"
        (click)="onLinkSelection(link, i)"
      >
        {{ link }}
      </a>
    </ng-container>
  </mat-nav-list>
</div>
