@import '../../../../../styles/abstracts/mixins';

:host {
  @include empty-background();
  height: 100%;
}

:host::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

:host::-webkit-scrollbar-track {
  background: rgba(216, 216, 216, 0.25);
  border-radius: 10px;
}

:host::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container {
  margin-bottom: 10%;
}

.bold-text {
  font-weight: bold;
}

.help-title {
  @include push-top(10);
  @include push-bottom(5);
}

.selected-item {
  @include background-rgba(0, 105, 87, 0.25);
  font-weight: bold;
}

.selected-item:hover {
  @include background-rgba(0, 105, 87, 0.25);
  opacity: 0.8;
  font-weight: bold;
}

