:host {
  display: block;
  height: 100%;
  width: 95%;
}

.tooltip {
  max-width: unset !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 16px;
  margin-top: 6%;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-line;
}

code {
  font-weight: normal;
}

.annotationStyle {
  font-weight: bold;
  background-color: #fad6a5;
}
