<h2>Annotations of the selected file</h2>
<p>
  Sourcefile: <strong> {{ shorttenFileName }} </strong>
  <mat-icon [matTooltip]="toolTipText" matTooltipClass="tooltip">help</mat-icon>
</p>
<ul *ngFor="let item of annotations">
  <li *ngIf="item.commentInEnvironment">
    <h2>
      At lines {{ item.loc.pos_start.pos_lnum }} -
      {{ item.loc.pos_end.pos_lnum }}
    </h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <pre>
            <code>{{ item.annotationInEnvironmentSplited[0]}}</code><code class="annotationStyle">{{ item.annotationInEnvironmentSplited[1]}}</code><code>{{ item.annotationInEnvironmentSplited[2]}}</code>
        </pre>
  </li>
  <li *ngIf="!item.commentInEnvironment">
    <h2>
      At lines {{ item.loc.pos_start.pos_lnum }} -
      {{ item.loc.pos_end.pos_lnum }}
    </h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <pre>
            <code>
                {{ item.annotations[0] }}
            </code>
        </pre>
  </li>
</ul>
<ul *ngFor="let item of cAnnotations">
  <li>
    <h2>
      At lines {{ item.loc.pos_start.pos_lnum }} -
      {{ item.loc.pos_end.pos_lnum }}
    </h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <pre>   
      <div *ngFor="let annotation of item.CAnnotations">
        <code>{{annotation.start}}</code><code class="annotationStyle">{{annotation.annotations}}</code><code>{{annotation.end}}</code>
      </div>
    </pre>
  </li>
</ul>
