@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.container {
  overflow: visible;
}

//HEADER
.invocation-header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.invocation-title {
  position: absolute;
  font-weight: bold;
}

.tag-status {
  position: absolute;
  right: 80px;
  padding: 5px;
  border-radius: 30px 30px 30px 30px;
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.refresh-button {
  margin: 1rem;
  background: $success-color;
  color: white;
}

.close-button {
  position: absolute;
  right: 0px;
}

.completed {
  background-color: lightgreen;
}
.running {
  background-color: lightskyblue;
}
.pending {
  background-color: #f59c88;
}

//INFO CARD
.info-card {
  //se alinee verticalmente
  display: flex;
  flex-direction: column;
}

.info-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.inv-p {
  margin: 0px 20px 0px 20px;
}

.invocation-times {
  //Se tienen que alinear horizontalmente y que esten centricas
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.time-title {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 14px 0px 0px;
  text-align: center;
}

//ARTIFACTS INFO
.artifacts-info {
  position: relative;
  left: 7vh;
  width: 80%;
  padding: 30px;
}

.mat-column-Collection {
  font-size: 15px;
}

.mat-column-FileName {
  font-size: 15px;
}

//SPINNER
.spinner-container {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 45%;
  top: 45%;
  transform: scale(1.7);
}

.invocation-filename{
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.config-title{
  position: inherit;
  display: contents;
  flex-direction: row;
  margin-left: 0;
  @include push-bottom(5);
  span {
    border-bottom: 3px solid $theme-primary;
  }
}

.config-lists{
  display: flex;
  flex-direction: row;
  align-self: center;
  position: inherit;
  left: 22%;
  bottom: 30%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.invocation-configuration{
  position: inherit;
  left: 20%;
  padding: 20px;
}

.invocation-keys{
  font-weight: bold;
}

.no-results{
  text-align: center;
}

.error-message-bold {
  font-weight: bold;
}
