<div mat-dialog-content class="container">
  <div class="invocation-content" *ngIf="!loading">
    <div class="invocation-header">
      <mat-toolbar class="header-toolbar">
        <p class="invocation-title">
          Invocation {{ invocationInfo.data.invocationID }} - {{ invocationInfo.data.tool }}
        </p>
        <span [ngClass]="calculateStyle()">{{ invocationInfo.data.invocationStatus }}</span>
        <button mat-button class="close-button" mat-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div class="info-card">
      <div class="buttons-container">
        <button mat-button class="refresh-button" mat-button (click)="refreshInvocationState()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <div class="invocation-times">
        <p class="time-title">
          <strong>Requested: </strong>
          {{ invocationInfo.data.timestampRequest | timestamp }}
        </p>
        <p class="time-title" *ngIf="invocationInfo.data.timestampStart">
          <strong>Started running: </strong>
          {{ invocationInfo.data.timestampStart | timestamp }}
        </p>
        <p class="time-title" *ngIf="invocationInfo.data.timestampCompleted">
          <strong>Completed: </strong>
          {{ invocationInfo.data.timestampCompleted | timestamp }}
        </p>
      </div>
      <div class="info-tool">
        <p class="inv-p"><strong>Tool: </strong>{{ invocationInfo.data.tool }}</p>
        <p class="inv-p"><strong>User: </strong>{{ invocationInfo.data.user }}</p>
      </div>
    </div>
    <div class="artifacts-info">
      <mat-tab-group dynamicHeight mat-align-tabs="center">
        <mat-tab label="Artifacts">
          <table mat-table [dataSource]="dataSourceArtifacts" class="mat-table-m artifacts-table"
            *ngIf="dataSourceArtifacts" aria-label="invocation information">
            <!--Collection-->
            <ng-container matColumnDef="Collection">
              <th mat-header-cell *matHeaderCellDef id="collection">Collection</th>
              <td mat-cell *matCellDef="let element">
                {{ element.dbName || element.project_id || element.collectionId ||element.PKMdatabase }}
              </td>
            </ng-container>
            <!--FileName-->
            <ng-container matColumnDef="FileName">
              <th mat-header-cell *matHeaderCellDef id="filename">FileName</th>
              <td mat-cell *matCellDef="let element" class="invocation-filename"
                title="{{element.sourceFileName || element.file || element.source_file_paths || element.path || element.artefactName}}">
                {{ decodeValue(element.sourceFileName) || decodeValue(element.file) || decodeValue(element.source_file_paths) || decodeValue(element.path) ||
                  decodeValue(element.artefactName) || decodeValue(element.DataStoreDirectory) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsArtifacts"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsArtifacts"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Results">
          <table mat-table [dataSource]="dataSourceResults" class="mat-table-m artifacts-table"
            *ngIf="invocationInfo.data.timestampCompleted" aria-label="process engine results">
            <!--Collection-->
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef id="type">Type</th>
              <td mat-cell *matCellDef="let element">
                {{ element.type }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Path">
              <th mat-header-cell *matHeaderCellDef id="path">Path</th>
              <td mat-cell *matCellDef="let element" class="invocation-filename" title="{{element.path}}">
                {{ element.type === 'log' ? element.path : decodeValue(element.path) }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsResults"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsResults"></tr>
          </table>
          <div *ngIf="!invocationInfo.data.timestampCompleted" class="no-results">
            <h4>No results yet because tool's execution hasn't finished</h4>
          </div>
        </mat-tab>
        <mat-tab label="Logs" *ngIf="jsonContent !== undefined">
          <app-json-tree-renderer [jsonObject]="jsonContent"></app-json-tree-renderer>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div *ngIf="invocationInfo.data.message && invocationInfo.data.invocationStatus === 'FAILED'" class="invocation-configuration">
    <h2 class="config-title"><span>Failure message:</span></h2>
    <p><span class="error-message-bold">Tool invocation {{ invocationInfo.data.invocationStatus }} due to:</span> {{ invocationInfo.data.message }}
    </p>
  </div>
  <div *ngIf="!loading && this.invocationKeys.length > 0" class="invocation-configuration">
    <!-- Invocation configuration setup for each invocation -->
    <h2 class="config-title"><span>Invocation settings:</span></h2>
    <div class="config-lists">
      <mat-list role="config-parameters">
        <div *ngFor="let item of invocationKeys" class="invocation-keys">
          <mat-list-item>{{item | uppercase}}</mat-list-item>
        </div>
      </mat-list>
      <mat-list role="parameter-values">
        <div *ngFor="let item of invocationValues" class="invocation-values">
          <mat-list-item *ngIf="!isFramaCObject(item)">{{decodeValue(item)}}</mat-list-item>
          <div *ngIf="isFramaCObject(item) && item.parser" class="framac-mode">
            <mat-list-item><strong>Parser:&nbsp;</strong> {{item.parser }} <strong>&nbsp;&nbsp;Eva:&nbsp; </strong>
              {{item.eva}}
              <strong>&nbsp;&nbsp;Wp:&nbsp; </strong> {{item.wp}}
            </mat-list-item>
          </div>
          <div *ngIf="isFramaCObject(item) && !item.parser" class="framac-options">
            <mat-list-item> <strong>Eva main:&nbsp; </strong> {{item.eva.main}} <strong>&nbsp;&nbsp; Wp fct:&nbsp;
              </strong>{{item.wp.wp_fct}} <strong>&nbsp;&nbsp; Args:&nbsp;
              </strong>{{item.args.toString()}}</mat-list-item>
          </div>
        </div>
      </mat-list>
    </div>
  </div>

  <ng-container #noInvocation *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

</div>
