@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.project-info-header {
  margin: 2rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    font-size: $font-xl;
  }
  button {
    background-color: $theme-secondary;
    border: none;
    border-radius: 1rem;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-icon {
      margin-right: 0.5rem;
    }
  }
}
