<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <div fxFill style="z-index: 0;">
    <div class="matrix matrix-borders cols-wrap">
      <app-infinite-scroll
        class="infinity-scroll"
        (horizontalScroll)="onNextColumnPage()"
        (verticalScroll)="onNextRowPage()"
      >
        <div class="header-row">
          <div class="sideheader-header-cell">
            <span class="related-artifacts text-center">Target text</span>
            <div class="changes-menu">
              <span class="full-width text-center">
                Source text
              </span>
            </div>
          </div>
          <div class="header-cell" *ngFor="let columnId of columns">
            <span title="{{ matrix.getColumnValue(columnId).id }}">{{ matrix.getColumnValue(columnId).name | truncate }}</span>
          </div>
        </div>
        <ng-container *ngFor="let rowId of rows">
          <div class="sideheader-row">
            <div class="sideheader-cell">
              <span title="{{ matrix.getRowValue(rowId).id }}" >{{ matrix.getRowValue(rowId).name | truncate }}</span>
            </div>
            <ng-container *ngFor="let columnId of columns">
              <div
                class="cell"
                attr.id="cell-{{rowId}}-{{columnId}}"
                (click)="onRightClick($event, rowId, columnId)"
                >
                <mat-icon *ngIf="relation(rowId, columnId)" >
                  call_missed_outgoing
                </mat-icon>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </app-infinite-scroll>
    </div>
  </div>
  <div class="bottom-margin"></div>
</div>
