@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';
@import './matrix-styles/matrix-styles.scss';

.bottom-margin {
  @include push-top(5);
}

mat-icon.normal-relation {
  color: $black;
}

.sideheader-header-cell {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 90% 10%;
  color: $white;

  .related-artifacts {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: $black;
    writing-mode: tb;
    transform: rotate(180deg);
  }

  .changes-menu {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    background-color: $black;
    display: flex;
    justify-content: space-between;
  }
}

.header-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  @include pad-vertical(4);

  mat-icon {
    color: $theme-primary;
  }

  span {
    margin-top: auto;
    writing-mode: tb;
    transform: rotate(180deg);
  }
}

.responsive-cell:hover {
  cursor: pointer;
  outline-offset: -1.75px !important;
  outline-width: 1.85px !important;
  background-color: rgba(0, 89, 255, 0.144) !important;
}

.responsive-cell:active {
  background-color: #00065763 !important;
}

.sideheader-cell {
  @include pad-horizontal(6);
  display: flex;

  & > *:nth-child(1) {
    margin-right: auto;
  }
}

.infinity-scroll {
  max-height: 550px;
  width: 100%;
}
