@import '../../../../styles/abstracts/variables';

.container {
  display: grid;
  overflow: auto;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: $toolbar-height;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.content {
  overflow: auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
