<div class="container full-height">
  <app-header *ngIf="isLogged()" class="header"></app-header>
  <app-sidebar *ngIf="isLogged()" class="sidebar"></app-sidebar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
