<div class="dialogBox">
  <div mat-dialog-content>
    <p>Are you sure you'd like to</p>
  </div>
  <h1 class="text-center" mat-dialog-title>{{ data.title }} ?</h1>
  <div mat-dialog-content>
    <p *ngIf="data.description" class="description text-center">
      {{ data.description }}
    </p>
    <p *ngIf="data.target" class="target text-center">{{ data.target }}</p>
    <p *ngIf="data.target2" class="target2 text-center">{{ data.target2 }}</p>
  </div>
  <div class="buttonSection" mat-dialog-actions>
    <button mat-button class="deleteButton" mat-dialog-close="delete">
      {{ data.accept }}
    </button>
    <button mat-button class="cancelButton" mat-dialog-close="cancel">
      <ng-container *ngIf="data.cancel; else defaultCancel">
        {{ data.cancel }}
      </ng-container>
      <ng-template #defaultCancel>
        No, don't delete
      </ng-template>
    </button>
  </div>
</div>
