@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.welcome-message {
  color: rgba(68, 68, 68, 0.5);

  .title {
    font-size: $font-xxxl;
  }
  .subtitle {
    font-size: $font-xxl;
    @include push-top(0);
  }

  .big-icon {
    @include grow-icon(10);
  }
}
