<div class="welcome-message" fxLayout="column" fxLayoutAlign="center center">
  <mat-icon class="big-icon">beach_access</mat-icon>
  <h1 class="title">Welcome!</h1>
  <p class="subtitle">Please, select a project to start</p>
</div>
