<div class="team-members-title">
  <span class='fab fa-github fa-lg'></span><strong>Git Clone</strong>
</div>

<form [formGroup]="cloneForm" (ngSubmit)="sendGitCloneCommand()">
  <table class="mat-table-m table" style="border: 1px;" aria-label="git clone form fields">
    <tr>
      <!-- URL Row -->
      <td style="padding-left: 30px;">&nbsp;</td>
      <td style="padding-left: 140px;">
        <strong>Git repository URL: </strong><br />
        (the one beginning with "https://" <br /> and finishing with ".git")
      </td>
      <td style="text-align: left;">
        <mat-form-field appearance="outline" class="mat-form-field-m no-pad">
          <input matInput type="text" size="100" maxlength="100" formControlName="projectURL"
            placeholder="Type project git repository URL" />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <!-- Checkbox auth Row -->
      <td style="padding-left: 30px;">&nbsp;</td>
      <td style="padding-left: 140px;">
        <strong>Authentication required</strong><br />
        (if the repository is not public please select this option)
      </td>
      <td style="text-align: left;">
        <mat-checkbox class="decoder-checkbox" [checked]="authRequired" (click)="onCheckboxClicked($event)">
        </mat-checkbox>
      </td>
    </tr>
    <tr *ngIf="authRequired">
      <!-- Username Row -->
      <td style="padding-left: 30px;">&nbsp;</td>
      <td style="padding-left: 140px;">
        <strong>Git username: </strong>
      </td>
      <td style="text-align: left;">
        <mat-form-field appearance="outline" class="mat-form-field-m no-pad">
          <input matInput type="text" size="20" maxlength="20" formControlName="username" placeholder="Add username" />
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="authRequired">
      <!-- Password Row -->
      <td style="padding-left: 30px;">&nbsp;</td>
      <td style="padding-left: 140px;">
        <strong>Git password: </strong>
      </td>
      <td style="text-align: left;">
        <mat-form-field appearance="outline" class="mat-form-field-m no-pad">
          <input matInput type="password" size="20" maxlength="20" formControlName="password"
            placeholder="Type your password" />
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="authRequired">
      <!-- SSH File Row -->
      <td style="padding-left: 30px;">&nbsp;</td>
      <td style="padding-left: 140px;">
        <strong>SSH Private Key: </strong>
      </td>
      <td style="text-align: left;">

        <img [src]="imgSrc" width="20" height="20" class="user-icon" (click)="inputUpload.click()"
          alt="Private SSH key file upload" title="Private SSH key file upload" />
        <input type="file" accept="*." style="display: none" #inputUpload (change)="privateKeyUpload($event);" />

        &nbsp;&nbsp;&nbsp;

        <span id="fileUploaded" *ngIf="keyLoaded" style="color:red">Private key loaded</span>

        &nbsp;&nbsp;&nbsp;

        <img [src]="deleteSrc" *ngIf="keyLoaded" width="10" height="10" class="user-icon" (click)="resetPrivateKey()"
          alt="Reset uploaded key" title="Reset uploaded key" />
      </td>
    </tr>

    <tr>
      <!-- Buttons rows -->
      <td style="padding-left: 30px;">&nbsp;</td>
      <td style="padding-left: 140px;">&nbsp;</td>
      <td style="text-align: left;" *ngIf="!loading">
        <button mat-raised-button type="submit" [disabled]="cloneForm.invalid" class="submit-member-btn">
          Git Clone
        </button>
        &nbsp;&nbsp;&nbsp;
        <button mat-raised-button type="button" (click)="resetForm()" class="submit-member-btn">
          Reset Form
        </button>
      </td>
      <td style="text-align: left;" *ngIf="loading">
        <span>
          <mat-spinner diameter="30"></mat-spinner>
        </span>
      </td>


    </tr>
  </table>
</form>
