@import './variables';

// Paddings

@mixin pad($n: 4) {
  padding: $n * $pad-margin-multiplier;
}

@mixin pad-top($n: 4) {
  padding-top: $n * $pad-margin-multiplier;
}

@mixin pad-right($n: 4) {
  padding-right: $n * $pad-margin-multiplier;
}

@mixin pad-bottom($n: 4) {
  padding-bottom: $n * $pad-margin-multiplier;
}

@mixin pad-left($n: 4) {
  padding-left: $n * $pad-margin-multiplier;
}

@mixin pad-horizontal($n: 4) {
  @include pad-left($n);
  @include pad-right($n);
}

@mixin pad-vertical($n: 4) {
  @include pad-top($n);
  @include pad-bottom($n);
}

@mixin pad-all($a: 4, $b: 4, $c: 4, $d: 4) {
  padding: $a * $pad-margin-multiplier $b * $pad-margin-multiplier $c *
    $pad-margin-multiplier $d * $pad-margin-multiplier;
}

// Important paddings
@mixin pad-left-important($n: 4) {
  padding-left: $n * $pad-margin-multiplier !important;
}

@mixin pad-vertical-important($n: 4) {
  padding-top: $n * $pad-margin-multiplier !important;
  padding-bottom: $n * $pad-margin-multiplier !important;
}

// Margin

@mixin push($n: 4) {
  margin: $n * $pad-margin-multiplier;
}

@mixin push-top($n: 4) {
  margin-top: $n * $pad-margin-multiplier;
}

@mixin push-right($n: 4) {
  margin-right: $n * $pad-margin-multiplier;
}

@mixin push-bottom($n: 4) {
  margin-bottom: $n * $pad-margin-multiplier;
}

@mixin push-left($n: 4) {
  margin-left: $n * $pad-margin-multiplier;
}

@mixin push-horizontal($n: 4) {
  @include push-left($n);
  @include push-right($n);
}

@mixin push-vertical($n: 4) {
  @include push-top($n);
  @include push-bottom($n);
}

@mixin push-all($a: 4, $b: 4, $c: 4, $d: 4) {
  margin: $a * $pad-margin-multiplier $b * $pad-margin-multiplier $c *
    $pad-margin-multiplier $d * $pad-margin-multiplier;
}

// Elevations

@mixin elevation-small() {
  box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.2);
}

@mixin elevation-mid() {
  box-shadow: -3px 4px 4px 0 rgba(37, 37, 37, 0.15);
}

@mixin elevation-large() {
  box-shadow: -4px 5px 8px 0 rgba(37, 37, 37, 0.15);
}

// Visual priority

@mixin z-index($i: auto) {
  z-index: $i;
}

// Opacity

@mixin opacity($o: 1) {
  opacity: $o;
}

// Color - Background rgba(Red, Green, Blue, Transparency)

@mixin background-rgba($r: 0, $g: 0, $b: 0, $t: 1) {
  background-color: rgba($r, $g, $b, $t);
}

@mixin empty-background() {
  @include background-rgba(242, 242, 242, 1);
}

@mixin empty-background-darker() {
  @include background-rgba(222, 222, 222, 1);
}

// Borders

// Border

@mixin input-border($b: 1px, $c: $black) {
  border: $b solid $c;
}

// Radius

@mixin border-radius($b: 0) {
  border-radius: $b;
}

// Icons
@mixin grow-icon($n: 1) {
  height: 1rem * $n;
  width: 1rem * $n;
  font-size: 1rem * $n;
}

@mixin  icon-width($n: 6) {
  width: $n * $pad-margin-multiplier;
}