// SPACING
$pad-margin-multiplier: 4px;

// THEME

$theme-primary: #ff6700;
$theme-primary-dark: #a94f20;
$theme-secondary: #5ed0bd;
$theme-secondary-dark: #006957;

// OTHER COLORS

$white: #ffffff;
$black: #232323;
$dark-grey: #40444f;
$blue: #0262f8;
$light-blue: #0086ec;
$artifacts-background: #f2f2f2;

// DISABLED
$disabled-opacity: 0.5;

// INPUT COLORS

$gray: #444444;
$light-gray: #C0C0C0;
$light-gray: #eee9e8;

// SUCCESS ERROR WARNING

$success: #5ed0bd;
$success-color: #006957;
$error: #ff0000;
$warning: #ecc30c;

// FONT-SIZES

$font-xs: 10px;
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 30px;
$font-xxxl: 34px;

// LAYOUT VARIABLES

$app-logo-width: 7vw;
$app-logo-height: 17vh;
$app-sidebar-width: 66px;
$toolbar-height: 50px;

// V SIZES

$app-done-icon-size: 10vh;
$app-login-width: 45vw;
$app-login-height: 80vh;
$app-half-width: 50vw;
$app-home-height: 95vh;
$app-height: 100vh;
$app-width: 100vw;
$app-max: 100%;
$help-img-size: 60%;
$app-tab-width: 12ch;
