@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

:host {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.title {
  display: flex;
  font-size: $font-l;
  align-items: center;
  @include pad-vertical(3);
  @include push-vertical(0);
  @include pad-horizontal(5);
  @include empty-background-darker();

  span {
    @include push-right(5);
  }

  button {
    margin-left: auto;
  }
}

.container {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 2rem 2rem;
  padding: 0.5rem auto;
  gap: 1rem;
  justify-content: space-between;

  mat-tab-group {
    flex: 1;
  }

  &-left {
    display: flex;
  }

  &-right {
    display: flex;
  }
}

mat-tab-group {
  margin: 2rem 2rem 2rem 2rem;
  padding: 0.5rem auto;
  gap: 1rem;
}

.button-clear-selection {
  display: flex;
  left: 10%;
}
.artifact-selector {
  button {
    margin: 2rem 2rem 2rem 2rem;
    padding: 0.5rem auto;
    gap: 1rem;
  }
  display: flex;
  flex-direction: row;
}

.artifact-actions {
  height: 20vh;
  width: 100%;
  overflow-y: scroll;
  justify-content: left;
  display: inline-block;
}
//mat-tab
.artifact-artifacts {
  display: flex;
  width: 55%;
}
.artifact-tools {
  display: flex;
  width: 45%;
}
.available-tools {
  height: 20vh;
  display: initial;

  button {
    flex: 0.2;
    margin: 2rem 2rem 2rem 2rem;
    padding: 0.5rem auto;
    gap: 1rem;
  }
}

.tools {
  height: 50vh;
  overflow: auto;
  overflow-x: hidden;
}

.tools-results {
  flex: 0.8;
  height: 20vh;
  overflow: scroll;
  overflow-x: hidden;
}

hr {
  height: 1px;
  width: 95%;
  background-color: #f36d33;
  border: none;
}

mat-list-option {
  vertical-align: baseline;
}

.list1 {
  .active {
    background-color: #f36d33;
    color: #fff;
  }
  .active ul {
    display: block !important;
  }

  .inactive {
    color: black;
  }
}

.list2.mat-selection-list {
  margin-left: 20px;
  margin-right: 0.2rem;

  .mat-list-item {
    text-align: left;
  }
  .active {
    background-color: #f36d33;
    color: #fff;
  }
  .active ul {
    display: block !important;
  }

  .inactive {
    color: black;
  }
}

.custom-title {
  margin: 1.5rem auto;
  padding: 1.5rem auto;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  margin: 0 5px;
}

.cancelation {
  background-color: #ef4e4e;
  color: $white;
}
