<h1 class="title">
  <span>{{ title.title }} - {{title.step}}</span>
  <button
    *ngIf="!title.child.completed"
    mat-button
    (click)="updateStepInfo()"
    class="button-accept"
    [class.disabled]="false"
  >
    <mat-icon>check_circle</mat-icon>
    Set step to complete
  </button>
  <button
    *ngIf="title.child.completed"
    mat-button
    (click)="updateStepInfo()"
    class="button-accept cancelation"
    [class.disabled]="false"
  >
    <mat-icon>cancel</mat-icon>
    Set step to incomplete
  </button>
</h1>

<app-tool-manager
  [searchableArtifacts]="searchableArtifacts"
  [projectName]="projectName"
  [viewTools]="viewTools"
></app-tool-manager>
