<nav class="sidebar">
  <ul class="sidebar-nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home/projects-list" (click)="baseDefaultActive()">
            <mat-icon>home</mat-icon>
            <span class="link-text">All projects</span>
          </a>
        </li>
    <li
      class="nav-item"
      *ngFor="let plugin of plugins"
      (click)="onSelection(plugin.path)"
      [class.selected-item]="isSelected(plugin.path)"
    >
      <div role="link" class="nav-link" (click)="go(plugin.path)">
        <mat-icon>{{ plugin.icon }}</mat-icon>
        <span class="link-text">{{ plugin.text }}</span>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link flat-button no-outline" routerLink="/home/help">
        <mat-icon>help</mat-icon>
        <span class="link-text">Help</span>
      </a>
    </li>
  </ul>
</nav>
