@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.sidebar {
  width: $app-sidebar-width; // it should match the width defined on the app grid system
  height: 96vh;
  position: fixed;
  background-color: rgb(58, 58, 58);
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  @include pad-bottom(4);
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.7rem;
  color: rgba(255, 255, 255, 0.438);
  text-decoration: none;
  cursor: pointer;
}

.link-text {
  font-size: 60%;
}

.nav-link:hover {
  color: rgb(219, 213, 184);
  transition: 300ms;
}

.selected-item {
  width: 100%;
  background-color: black;

  &,
  * {
    color: rgb(219, 213, 184);
  }
}

:host.isVisible {
  width: $app-sidebar-width;
}
