<mat-card class="profile-container" fxLayout="row">
    <div fxFlex="15"></div>
    <div fxFlex="70" fxLayoutAlign="center center">
        <div fxFill>
            <mat-card-title class="profile-selector-title" fxLayoutAlign="center">
                <h3>Select a profile</h3>
            </mat-card-title>
            <mat-card-subtitle class="profile-selector-subtitle" fxLayoutAlign="center">
                Select a profile to connect to DECODER projects. 
                Once you have selected a profile, you will see 
                the projects in which you are a member with that profile.
            </mat-card-subtitle>
            <mat-card-content class="role-selector-container">
                <app-role-selector
                    (roleSelect)="onRoleSelect($event)"
                >
                </app-role-selector>
                <div class="error-content" fxLayoutAlign="start center" *ngIf="roleIsNotValid()">
                    <mat-icon color="warn">error</mat-icon>&nbsp;&nbsp;&nbsp;You must select a profile to connect.
                </div>
            </mat-card-content>
            <mat-card-content class="button-group">
                <button mat-raised-button [disabled]="roleIsUndefined" class="connect-button" (click)="onConnect()">
                    <strong>Connect</strong>
                </button>
            </mat-card-content>
            <mat-card-content class="login-link"  fxLayoutAlign="center">
                <a [routerLink]="['/login']">
                    Back to Log in
                </a>
            </mat-card-content>
        </div >
    </div>
    <div fxFlex="15"></div>
</mat-card>