@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.profile-container {
    font-family: "Source Sans Pro", monospace, sans-serif;
    width: $app-login-width;
    background-color: $white;
    @include pad-top(1);
    @include border-radius(6px);
    @include elevation-large();
}

.profile-selector-title {
    font-size: $font-xl;
    color: $gray;
}

.profile-selector-subtitle {
    text-align: center;
    font-size: $font-m;
    color: $gray;
}

.role-selector-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: $font-m;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.connect-button {
    font-size: $font-l;
    color: $white;
    background: $theme-secondary-dark;
}

.error-content {
    font-size: $font-s;
    color: $error;
}

.login-link {
    font-size: $font-s;
}
