@import '../../../../../../styles/abstracts/mixins';
@import '../../../../../../styles/abstracts/variables';

.table {
  caption {
    display: none;
  }
  @include push-top(1);
  @include push-bottom(20);
}

.project-versions-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include push-vertical(5);

  font-size: $font-xl;

  mat-icon {
    @include pad-right(5);
    width: $font-xl;
    height: $font-xl;
    font-size: $font-xl;
 }
}

.project-versions-container {
  @include push-vertical(9);
  @include push-horizontal(5);
}

.upload-source-title {
  display: inline;
  @include push-left(10);
  mat-icon {
    @include pad-right(2);
    width: $font-xl;
    height: $font-xl;
    font-size: $font-xl;
  }
}

.version-link {
  text-decoration: none;
}

.version-link:hover {
  cursor: pointer;
}