<div class="project-versions-title">
  <mat-icon>folder</mat-icon><strong>Project versions</strong>
</div>
<div class="project-versions-container">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-table-m table"
    >
    <caption>
      Versions in the current project.
    </caption>

    <!-- Versions Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef scope="col">
        Versions
      </th>
      <td mat-cell *matCellDef="let element">
        <a
          class="version-link"
          routerLink="/home/projects/{{ projectId }}/{{ element.versionId }}"
          >{{element.versionName}}
        </a>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef class="text-end" scope="col">Date</th>
      <td mat-cell *matCellDef="let element" class="text-end">
        <time [dateTime]="element.creationDate">{{
          element.creationDate ? (element.creationDate | timeAgo) : '-'
        }}</time>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <app-import-source [projectId]="projectId"></app-import-source>
</div>
