@import '../../../../../../styles/abstracts/variables';
@import '../../../../../../styles/abstracts/mixins';

.member-btn-container {
  display: flex;
  @include push-vertical(1);

  button {
    margin-left: auto;
    margin-right: 10px;
  }
}

.table {
  caption {
    display: none;
  }

  td.col-fit-content,
  th.col-fit-content {
    width: 1%;
    @include pad-right(0);
  }

  @include push-bottom(20);
}

.selector-width,
.member-btn-container button {
  min-width: 8rem;
  max-width: 12rem;
}

.submit-member-btn,
.submit-member-btn:disabled {
  min-width: 18ch;
  background-color: $theme-secondary-dark;
  color: $white;
}

.submit-member-btn:disabled {
  opacity: $disabled-opacity;
}

.team-members-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include push-vertical(5);
  font-size: $font-xl;

  mat-icon {
    @include pad-right(5);
    width: $font-lg;
    height: $font-lg;
    font-size: $font-lg;
    color: $light-gray;
  }
}

.current-user {
  opacity: $disabled-opacity;
}

.list-icon {
  width: $font-xxl !important;
  height: $font-xxl !important;
  font-size: $font-xxl !important;
  color: $black !important;
  @include pad-top(1);
}

strong {
  width: 100%;
}
