<div class="team-members-title">
  <mat-icon class="list-icon">list</mat-icon><strong>Team members</strong>
  <div class="member-btn-container">
    <button *ngIf="isOwner || superAdminRights" mat-raised-button (click)="onNewMember()" [disabled]="memberCreationDisplay"
      [ngClass]="{'button-delete': newMemberMode === true}">
      {{ newMemberMode ? 'Cancel addition' : 'Add member' }}
    </button>
    <button *ngIf="superAdminRights" mat-raised-button (click)="onCreateMember()" [disabled]="newMemberMode"
      [ngClass]="{'button-accept': memberCreationDisplay === false, 'button-delete': memberCreationDisplay === true}">
      {{ memberCreationDisplay ? 'Cancel creation' : 'Create member' }}
    </button>
  </div>
</div>

<form [formGroup]="memberForm" (ngSubmit)="onSubmitMember()" *ngIf="!memberCreationDisplay || superAdminRights">
  <table mat-table [dataSource]="dataSource" class="mat-table-m table">
    <caption>
      Versions in the current project.
    </caption>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
      <td mat-cell *matCellDef="let element; let rowIndex = index">
        <mat-form-field *ngIf="isEditable(rowIndex); else commonField" appearance="outline"
          class="mat-form-field-m no-pad">
          <input matInput type="text" formControlName="name" placeholder="Add name" />
        </mat-form-field>

        <ng-template #commonField>
          {{ element.name }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef scope="col">Roles</th>
      <td mat-cell *matCellDef="let element; let rowIndex = index">
        <mat-select *ngIf="isEditable(rowIndex); else commonField" placeholder="Roles" multiple formControlName="roles"
          class="selector-width">
          <ng-container *ngFor="let role of availableRoles">
            <mat-option [value]="role">
              <span class="mat-option-span">
                {{ role }}
              </span>
            </mat-option>
          </ng-container>
        </mat-select>

        <ng-template #commonField>
          <mat-select placeholder="Roles" multiple class="selector-width" [value]="element.roles"
            (selectionChange)="onRolesChange(rowIndex, $event.value)">
            <ng-container *ngFor="let role of availableRoles">
              <mat-option [value]="role">
                {{ role }}
              </mat-option>
            </ng-container>
          </mat-select>
        </ng-template>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef scope="col">Status</th>
      <td mat-cell *matCellDef="let element" >
        {{ element.status ? element.status : '-' }}
      </td>
    </ng-container>

    <!-- Add Column -->
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef scope="col" class="col-fit-content"></th>
      <td mat-cell *matCellDef="let element; let rowIndex = index" class="col-fit-content">
        <button *ngIf="isEditable(rowIndex); else commonButton" mat-raised-button type="submit"
          [disabled]="memberForm.invalid" class="submit-member-btn">
          Add
        </button>
        <ng-template #commonButton>
          <button mat-raised-button class="submit-member-btn" (click)="onModifyElement()">
            <mat-icon>done</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="hide-border" scope="col"></th>
      <td mat-cell *matCellDef="let element; let rowIndex = index" class="text-center icon-cell hide-border">
        <button mat-flat-button (click)="onDeleteMember(element)" *ngIf="!checkCurrentUser(element.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</form>

<app-create-user [projecName]="projecName" *ngIf="superAdminRights && memberCreationDisplay" (memberCreation)="onMemberCreation($event)">
</app-create-user>
