<ng-container *ngIf="html; else defaultReport">
  <iframe src="./assets/difference-report/DifferenceReport.html" title="difference-reports"></iframe>
  <app-testar-renderer></app-testar-renderer>
</ng-container>
<ng-template #defaultReport>
  <mat-dialog-actions class="full-width button-container">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
  <div class="container">
    <p class="there-are-no-reports">
      There are no reports associated with this version of the project. To
      include reports, check the Version Comparison Matrix section in
      <a href="#">FAQs</a>.
    </p>

    <p class="frequently-asked">Frequently Asked Questions…</p>

    <div class="box1">
      <p class="how-to-include">
        How to include a Sitemap differences report in the VERSIONS COMPARISON
        MATRIX.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id mi
        imperdiet, aliquet tortor eget, commodo nunc…
      </p>
      <div class="read-more"><a href="#">Read more...</a></div>
    </div>

    <div class="box2">
      <p class="how-to-use">How to use the VERSIONS COMPARISON MATRIX.</p>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id mi
        imperdiet, aliquet tortor eget, commodo nunc…
      </p>
      <div class="read-more"><a href="#">Read more...</a></div>
    </div>
  </div>
</ng-template>
