.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.mat-dialog-actions {
    padding: 0;
    min-height: auto;
  }
}

.container {
  display: grid;
  grid-template-columns: 4% 37% 3% 37% 13% 6%;
  grid-template-rows: 15% 26% 10% 7% 50% 2%;
  margin-top: 2%;
  margin-bottom: 7%;
}

.there-are-no-reports {
  color: #444444;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 28px;
  font-weight: 600;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

p > a {
  color: #0262f8;
  text-decoration: none;
}

.frequently-asked {
  color: #40444f;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 19px;
  font-weight: bold;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.box1 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.box2 {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.how-to-include {
  color: #40444f;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  align-self: flex-start;
}

.how-to-use {
  color: #40444f;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  align-self: flex-start;
}

p {
  margin-block-start: 0.8em;
  margin-block-end: 0.5em;
}

.description {
  color: #40444f;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.read-more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

div > a {
  color: #0262f8;
  text-decoration: none;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

iframe {
  height: 35vh;
  width: 98%;
  margin-left: 1%;
}
