<div
  class="artifact-buffer"
  fxFlex="100"
  *ngIf="visualizableStore && visualizableStore.length > 0; else emptyContent"
>
  <mat-tab-group
    class="full-height-tabs"
    [selectedIndex]="selectedTab"
    (selectedIndexChange)="onTabClicked($event)"
  >
    <mat-tab *ngFor="let visualizable of visualizableStore; let i = index">
      <ng-template mat-tab-label>
        <app-ellipsis [text]="visualizable.artifact.name"></app-ellipsis>
        <button
          class="delete-button"
          disableRipple
          mat-icon-button
          (click)="onDeleteTab(i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <app-tab-content
        class="full-height"
        [renderingConfig]="{
          extension: visualizable.extension,
          content: visualizable.content,
          originalUrl: visualizable.originalUrl,
          artifact: visualizable.artifact
        }"
        (deleteEventDispatch)="openDeleteDialog(i)"
        [projectName]="projectName"
        (editRawSourceCode)="onEditRawSourceCode()"
      ></app-tab-content>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #emptyContent>
  <div class="empty-content" fxFlex="100">
    Please, select an artifact
  </div>
</ng-template>
