@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.breadcrumb,
.empty-content {
  @include empty-background-darker();
}

.empty-content {
  font-size: x-large;
  color: rgba(68, 68, 68, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.artifact-buffer {
  background-color: $white;
  display: flex;
}

.mat-tab-group {
  width: 100%;
  height: 100%;
}

.delete-button {
  color: rgb(43, 13, 13);
  padding-left: 25px;
}

.delete-button :hover {
  opacity: 0.5;
  color: white;
  border-radius: 50%;
  background-color: grey;
}

app-tab-content {
  @include background-rgba(222, 222, 222, 1);
}

app-ellipsis {
  width: $app-tab-width;
}
