<h2>Transform code to ASFM</h2>
<p>{{this.selectedTool.description}}</p>
<mat-horizontal-stepper linear #stepper class="custom-steps">

  <!-- custom step states -->
  <ng-template matStepperIcon="edit" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>

  <ng-template matStepperIcon="all-done">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="null" let-i="index">
    <span>{{i+1}}</span>
  </ng-template>
  <!-- custom step states -->  
  <div *ngIf="haveCFiles == true">
  <mat-step label="Execute tool" completed="false" state='null'>
    <button mat-flat-button class="header-button button-accept" (click)="executeTool(stepper)">
      Execute tool
    </button>
  </mat-step>
  <mat-step label="Results tools execution" completed="false" state='null'>
    <ng-template matStepLabel>Results tools execution</ng-template>
    <app-request-result-renderer [requestResponse]="codeToASFMInvocationResult" [loading]="loading">
    </app-request-result-renderer>
    <div>
      <button mat-button class="button-accept" (click)="reset(stepper)">
        Back to tool selection
      </button>
    </div>
  </mat-step>
    </div>
</mat-horizontal-stepper>
<div *ngIf="haveCFiles == false">
  This project don't have C/C++ files to convert.
</div>
