<mat-card fxLayout="column">
  <mat-card-content fxLayout="row" fxFill>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="full-width summary-header"
    >
    <p>
        <strong> TRACEABILITY MATRIX </strong>
        <mat-icon [matTooltip]="toolTipDescription" matTooltipClass="tooltip">help</mat-icon>
    </p>

    </div>

  </mat-card-content>
  <mat-card-content>
    <div>
      <app-traceability-matrix
        [projectId]="projectId"
      >
      </app-traceability-matrix>
    </div>
  </mat-card-content>
</mat-card>
