@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.summary-header {
  h3 {
    @include push-left(3);
    @include push-right(8);
  }
  mat-icon {
    margin-left: 10px;
    font-size: 20px;
  }
  p {
    display: inline-flex;
    vertical-align: top;
  }
}

.button-show-hide {
  background-color: $theme-primary;
  color: $white;
  outline: none;
  @include border-radius(6px);
}

.button-show-hide:hover {
  cursor: pointer;
}

mat-divider {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
