
<table mat-table [dataSource]="dataSource" class="mat-table-m table" aria-label="reviews from a project">
  <ng-container matColumnDef="reviewID">
    <th mat-header-cell *matHeaderCellDef id="Id">Id</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        class="blue-tittle"
        (click)="onReviewRequestedSelection(element)"
      >
        {{ element.reviewID }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="reviewTitle">
    <th mat-header-cell *matHeaderCellDef id="title">Title</th>
    <td mat-cell *matCellDef="let element">{{ element.reviewTitle }}</td>
  </ng-container>

  <ng-container matColumnDef="reviewOpenDate">
    <th mat-header-cell *matHeaderCellDef id="date">Date</th>
    <td mat-cell *matCellDef="let element">{{ element.reviewOpenDate }}</td>
  </ng-container>

  <ng-container matColumnDef="reviewAuthor">
    <th mat-header-cell *matHeaderCellDef id="author">Author</th>
    <td mat-cell *matCellDef="let element">{{ element.reviewAuthor }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="hide-border"
      scope="col"
    ></th>
    <td
      mat-cell
      *matCellDef="let element; let rowIndex = index"
    >
      <button
        mat-flat-button
        (click)="deleteReview(element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
