@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.table {
  caption {
    display: none;
  }

  td.col-fit-content,
  th.col-fit-content {
    width: 1%;
    @include pad-right(0);
  }

  @include push-bottom(20);
}

.checkbox input:checked {
  background-color: $theme-secondary-dark;
}

.checkbox-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.blue-tittle {
  color: $light-blue;
}
