.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.massage-layout {
    display: flex;
    align-items: center;
}

.icon-layout {
    margin: 10px 10px 10px 0px;
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
}
