<div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && requestResponse && displayResponse">
    <div *ngFor="let res of displayResponse">
        <div *ngIf="res.success">
            <p class="massage-layout">
                <mat-icon class="icon-layout green">
                    check_circle
                </mat-icon>
                <strong>
                    Successful Request: InvocationID = {{res.invocationID}}
                </strong>
            </p>
        </div>

        <div *ngIf="!res.success">
            <p class="massage-layout">
                <mat-icon class="icon-layout red">cancel</mat-icon>
                <strong>
                    {{res.invocationID}}
                </strong>
            </p>
        </div>
    </div>
</div>