<h3
  class="projects-list-title responsive-pad-left"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
>
  PROJECTS
  <button
    mat-button
    aria-label="add new project"
    (click)="openCreateDialog()"
    *ngIf="superAdminRights"
  >
    <mat-icon>add</mat-icon>
    New project
  </button>
</h3>

<mat-nav-list class="projects-list" *ngIf="projects$ | async; else noProjects">
  <ng-container *ngFor="let project of projects$ | async">
    <a
      mat-list-item
      class="mat-li-s mat-li-responsive-pad-left"
      [class.selected-item]="isProjectSelected(project.projectId)"
      (click)="onProjectSelection(project.projectId)"
    >
      {{ project.projectName }}
      <label *ngIf="project.owner" class="owner-label">Owner</label>
    </a>
  </ng-container>
</mat-nav-list>

<ng-template #noProjects>
  <div fxLayoutAlign="center" *ngIf="(projects$| async)?.length === 0">This user has no available projects</div>
  <div fxLayoutAlign="center">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>
