@import '../../../../../styles/abstracts/mixins';

:host {
  @include empty-background();
}

.projects-list-title {
  font-weight: normal;
  @include push-top(19);

  button {
    margin-left: auto;
    @include push-right(4);
  }

  mat-icon {
    @include pad-bottom(1);
  }
}

.selected-item {
  @include background-rgba(0, 105, 87, 0.25);
  font-weight: bold;
}

.selected-item:hover {
  @include background-rgba(0, 105, 87, 0.25);
  opacity: 0.8;
  font-weight: bold;
}

.owner-label {
  margin-left: auto;
  color: #444444;
}