@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

:host {
  padding-top: 30px;
}

.tree-invisible {
  display: none;
}

.tree {
  display: initial;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.selected-item {
  @include background-rgba(0, 105, 87, 0.25);
  font-weight: bold;
}

.selected-item:hover {
  @include background-rgba(0, 105, 87, 0.25);
  opacity: 0.8;
  font-weight: bold;
}