<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    [ngClass]="{ 'selected-item': checklistSelection.isSelected(node)}"
    matTreeNodeToggle
    matTreeNodePadding
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <mat-checkbox
      class="decoder-checkbox"
      [checked]="node.completed"
      (click)="toggleLeafNode(node, $event)"
    >
      {{ node.name }}
    </mat-checkbox>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <mat-checkbox
      class="decoder-checkbox"
      [checked]="node.completed"
      [indeterminate]="descendantsPartiallySelected(node)"
      (click)="onCheckboxClick($event)"
    >
      {{ node.name }}
    </mat-checkbox>
  </mat-tree-node>
</mat-tree>
