<mat-card class="main-card" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="30">
      <img class="logo" src="./../../../../assets/img/header/decoder_logo.png" alt="DECODER Logo">
    </div>
    <mat-card-title fxFlex="40" fxLayoutAlign="center" class="login-title">
      <h3>Log in</h3>
    </mat-card-title>
    <div fxFlex="30"></div>
  </div>
  <mat-card-content fxLayoutAlign="center center">
    <mat-card-subtitle>Enter your credentials below</mat-card-subtitle>
  </mat-card-content>
  <mat-card-content>
    <div fxFlex="15"></div>
    <div fxFlex="70" id="login-container">
        <form [formGroup]="loginForm" fxFill>
          <div class="form-group">
            <mat-form-field appearance="none">
              Username
              <input
                matInput
                formControlName="username"
                placeholder="Username"
                [ngClass]="{'normal-input-border': checkUsername(), 'error-border': !checkUsername()}"
              />
            </mat-form-field>
            <mat-form-field appearance="none">
              Password
              <input
                matInput
                formControlName="password"
                placeholder="Enter password"
                type="password"
                [ngClass]="{'normal-input-border': checkPassword(), 'error-border': !checkPassword()}"
                />
            </mat-form-field>
          </div>
          <div *ngIf="loginError == true">
            <mat-card-content class="error-content" fxLayoutAlign="start center">
              <mat-icon color="warn">error</mat-icon> Invalid username or password. Please try again.
            </mat-card-content>
          </div>
          <mat-card-content class="button-section">
            <button mat-raised-button [disabled]="checkLoginButtonState()" class="login-button" (click)="onLogin()">
              <strong>Log in</strong>
            </button>
          </mat-card-content>
        </form>
    </div>
    <div fxFlex="15"></div>
  </mat-card-content>
  <mat-card-footer class="dont-have-account" fxLayoutAlign="center center"></mat-card-footer>
</mat-card>
