@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.logo {
    width: $app-logo-width;
    height: $app-logo-height;
    @include push-left(5);
    @include z-index(1000);
}

.main-card {
    font-family: "Source Sans Pro", monospace, sans-serif;
    width: $app-login-width;
    background-color: $white;
    @include pad-top(1);
    @include border-radius(6px);
    @include elevation-large();
}

.login-button {
    float: right;
    color: $white;
    background: $theme-secondary-dark;
}

.dont-have-account {
    @include pad-all(5, 2, 5, 2);
    @include background-rgba(0,105,87,0.25);
    font-size: $font-s;
    font-weight: bold;
}

mat-card-subtitle {
    color: $dark-grey;
}

#login-container {
    @include border-radius(6px);
    font-size: $font-l;
}

.login-title {
    color: $dark-grey;
}

.login-subtitle {
    font-size: $font-m;
    color: $dark-grey;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-size: $font-l;
    @include push-right(3);
    mat-form-field {
        @include push-bottom(-10);
        input {
            font-size: $font-m;
            @include push-all(2,0,3,0);
            @include pad-all(2,0,2,3);
            @include border-radius(4px);
        }
    }
}

.button-section {
    align-items: center;
    justify-content: space-between;
    text-align: right;
    @include push-all(5,0,5,0);

    button {
        font-size: $font-m;
        @include elevation-mid();
        @include pad-all(0,10,0,10);
    }
}

.error-content {
    font-size: $font-s;
    color: $error;
}

.normal-input-border {
    @include input-border(1px, $gray);
}

.error-border {
    @include input-border(1px, $error);
}
