<div class="comment-section">
  <ng-container *ngFor="let comment of comments">
    <div
      [className]="
        this.comment.name === this.currentUser
          ? 'self-comment'
          : 'other-comment'
      "
    >
      <div>
        <label class="blue-tittle" mat-label
          >{{ comment.name }} {{ comment.date }}</label
        >
      </div>
      <div class="comment-text">
        {{ comment.comment }}
      </div>
    </div>
  </ng-container>
  <textarea matInput class="comment-input"></textarea>
</div>
