@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.comment-section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 2rem 1rem;
}

.other-comment {
  width: 45%;
}

.self-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  width: 65%;
}

.comment-text {
  background-color: $light-gray;
  border-radius: 0.5rem 0.5rem 0 0;
  color: $gray;
  padding: 10px;
}

.comment-input {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: $light-gray;
  border-bottom: solid $blue 2px;
  color: $gray;
  margin-top: 1rem;
  width: auto;
}

.blue-tittle {
  color: $light-blue;
}

#text {
  margin: 100px;
}
