@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

:host {
  font-family: 'Source Sans Pro', monospace, sans-serif;
  height: 100%;
  position: relative;
}

.project-info {
  width: 100%;

  h1 {
    font-size: $font-l;
    @include push(0);
    @include pad-vertical(4);
    @include pad-horizontal(4);
  }
}

.pad-start {
  @include pad-left(2);
}

.selected-item {
  @include background-rgba(0, 105, 87, 0.25);
  font-weight: bold;
}

.artifact-explorer {
  @include empty-background();
  display: flex;
}

.tree {
  flex-grow: 1;
}

.collapsible {
  max-height: 30%;
}

.modal {
  background-color: $white;
  position: absolute;
  z-index: 200;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: -44px !important;
  margin-bottom: 0 !important;
  margin-right: -210px !important;
  @include push-vertical(4);

  button {
    color: $white;
    background: $theme-secondary-dark;
    @include push-left(1);
  }

  button mat-icon {
    @include push-right(1);
  }
}
