<div fxLayout="column" fxFlex="25" class="artifact-explorer">
  <div class="project-info">
    <h1>{{ projectInfo.name }}</h1>
  </div>
  <div class="button-area">
    <button
      mat-button
      aria-label="refresh items"
      (click)="refreshItemsFromPKM()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <app-quick-search-bar
    [searchableArtifacts]="pkmArtifacts"
    (emitQuickSearchInput)="onKeyUpEvent($event)"
    (emitQuickSearchArtifactId)="onArtifactSelection($event)"
  >
  </app-quick-search-bar>
  <app-artifact-tree
    class="tree"
    [treeData]="artifactNodesPKM"
    [selectedArtifactId]="selectedArtifact?.id"
    [emptyArtifactsMessage]="pkmArtifacts.length <= 0"
    (artifactSelected)="onArtifactSelection($event)"

  ></app-artifact-tree>
</div>
<app-artifact-visualizer
  fxFlex="50"
  [selectedArtifact]="selectedArtifact"
  [projectName]="projectInfo.name"
  (artifactSelected)="onArtifactSelection($event)"
  (refreshItemsAfterDelete)="refreshItemsFromPKM()"
  (editRawSourceCode)="refreshItemsFromPKM()"
></app-artifact-visualizer>
<app-related-artifacts
  fxFlex="25"
  [selectedArtifact]="selectedArtifact"
  [relatedArtifacts]="selectedArtifactRelatedArtifacts"
  (artifactSelected)="onArtifactSelection($event)"
></app-related-artifacts>

