@import '../../../../styles/abstracts/mixins';
@import '../../../../styles/abstracts/variables';

:host {
  visibility: hidden;
  width: 0;
}

:host.isVisible {
  width: $app-sidebar-width;
  visibility: visible;
}
