<app-artifact-navigation
  *ngIf="endswithDefault"
  [projectInfo]="projectInfo"
  [pkmArtifacts]="pkmArtifacts"
  (update)="getPKMArtifacts()"
></app-artifact-navigation>

<app-pe-results-viewer
  *ngIf="endsWithResults"
  fxFlex
  [invocations]="invocations"
  (invocationsEvent)="loadInvocations()"
  [projectName]="projectInfo.name"
></app-pe-results-viewer>



<div
  fxLayout="column"
  fxFlex="25"
  class="artifact-explorer"
  *ngIf="endsWithTools"
>
  <div class="project-info">
    <h1>{{ projectInfo.name }}</h1>
  </div>
  <app-methodology-support
    #checkboxTree
    (selection)="onCheckboxSelection($event.step, $event.substep)"
    [projectName]="projectInfo.name"
  ></app-methodology-support>
</div>

<app-methodology-guidance
  *ngIf="modal.title && displayMethodGuidance"
  class="modal"
  fxFlex="75"
  [title]="modal"
  [projectName]="projectInfo.name"
  [searchableArtifacts]="pkmArtifacts"
  (stepCompletion)="onStepCompletion()"
  (hiddenComponent)="onHiddenComponent($event)"
></app-methodology-guidance>

