<div class="title">
  <h3 *ngIf="editReview == false" class="review-name">{{selectedReviewRequest.reviewTitle}}</h3>
  <button class="save-button" *ngIf="currentRole === 'Reviewer' && selectedReviewRequest != undefined && selectedReviewRequest.reviewTitle !='' && editReview == false" mat-raised-button class="button" (click)="editReviewFunc()">Edit review</button>
</div>
<form  *ngIf="editReview == true" [formGroup]="newReview">
  <mat-label>Review title:</mat-label>
  <mat-form-field style="width: 20%; margin: 10px;" floatLabel="always" appearance="outline" class="mat-form-field-m no-pad">
    <input matInput formControlName="title" >
  </mat-form-field>
<button mat-raised-button class="button save-button" (click)="update()">Update</button>
</form>

<div>
  <h4>Comments</h4>
  <div class="comment-section">
    <ng-container *ngFor="let comment of comments">
      <div
        [className]="
          this.comment.author === this.currentUser
            ? 'self-comment'
            : 'other-comment'
        "
      >
        <div>
          <label class="blue-tittle" mat-label
            >{{ comment.author }} {{ comment.datetime }}</label
          >
        </div>
        <div class="comment-text">
          {{ comment.comment }}
        </div>
      </div>
    </ng-container>
    <form [formGroup]="textArea"  *ngIf="currentRole === 'Reviewer' && addReview == true || editReview == true" class="comments-form">
        <textarea matInput class="comment-input" formControlName="comment" placeholder="Write your comments here"></textarea>
        <button mat-raised-button class="button textArea-button" (click)="addComment()">Add comments</button>
    </form>
  </div>
</div>
<div class="artifacts-table">
  <h4>Artifacts</h4>
  <div  *ngIf="currentRole === 'Reviewer' && addReview == true || editReview == true" class="artifact-aggregation">
    <mat-label>Select artifact:</mat-label>
    <mat-form-field style="width: 20%; margin: 10px;" floatLabel="always" appearance="outline" class="mat-form-field-m no-pad">
      <mat-select class="selector" (selectionChange)="artifactSelecionChange($event.value)" required>
        <mat-option *ngFor="let artifact of artifacts" [value]="artifact">
          {{ artifact.path }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="button" (click)="addArtifact()">Add artifacts</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-table-m table" aria-label="artifacts to be reviewed">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef id="type">Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef id="path">Path</th>
      <td mat-cell *matCellDef="let element" title="element.path">{{ element.path }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div style="text-align: center;">
    <div *ngIf="dataSource.filteredData.length <= 0" class="no-results">
      <mat-icon class="timelapse-icon icon">timelapse</mat-icon>This review dont have artifacts.
    </div>
  </div>
</div>

