@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.review-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.info-card {
  display: flex;
  flex-direction: column;
  span {
    margin: 0.5rem;
  }
}

.upload {
  transform: rotate(180deg);
}


.comment-section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 15px;
}

.other-comment {
  width: 45%;
  margin-bottom: 20px;
}

.self-comment {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-bottom: 20px;
}

.comment-text {
  background-color: $light-gray;
  border-radius: 0.5rem 0.5rem 0 0;
  color: $gray;
  padding: 10px;
}

.comment-input {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: $light-gray;
  border-bottom: solid $blue 2px;
  color: $gray;
  margin-top: 1rem;
  width: 70%;
  margin-right: 10px;
}

.blue-tittle {
  color: $light-blue;
}

#text {
  margin: 100px;
}

.button {
  color: $white;
  background: $theme-secondary-dark;
  width: 15%;
  margin-top: 2%;
}

.no-results {
  align-self: center;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}
.icon{
  text-align: center;
  font-size: 12px;
  height: 10px;
  width: 10px;
  margin: 2px
}

.title{
  display: flex;
  align-items: baseline;
  margin: 10px;
}

.artifact-aggregation {
  margin-top: 2%;
}

.artifacts-table {
  margin-top: 5%;
  margin-bottom: 3%;
}

.comments-form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}
